<% provide(:title, 'About') %>
<body class='short-header-page  wsite-theme-light wsite-page-the-team'>

<!-- START Navbar-->
	<%= render file: "/layouts/_navbar.html.erb" %>
<!-- END Navbar-->

<!-- START Shortbanner-->
	<%= render file: "/layouts/_shortbanner.html.erb" %>
<!-- END Shortbanner-->


    <div id="main-wrap">
        <div class="container">
			<!--<div class="colorblocklight">
				<div>
					<div style="height: 20px; overflow: hidden; width: 100%;"></div>
					<hr class="styled-hr" style="width:100%;">
					<div style="height: 10px; overflow: hidden; width: 100%;"></div>
				</div>
				<a name="locations" id="skip-to-content-1" class="skip-to-content-dark" href="#locations"></a>	
			</div>
			
			<div class="colorblockdark-map">
				<a name="reviews" id="skip-to-content-2" class="skip-to-content-dark" href="#reviews"></a>
			</div>-->
			<h2 style="padding-top:24px;margin-left:10%;">Title</h2>

			<p style="margin-left:10%;">Our story, la la la</p>

			<hr>
			<div class="colorblocklight">
				
				<div id='wsite-content' class='wsite-elements wsite-not-footer'>
					<div>
						<div class="wsite-multicol">
							<div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
								<table class='wsite-multicol-table'>
								<tbody class='wsite-multicol-tbody'>
								<tr class='wsite-multicol-tr'>
								<td class='wsite-multicol-col' style='width:43.918918918919%;padding:0 15px'>

								<span class='imgPusher' style='float:left;height:0px'></span>
								<span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'>
									<a>
										<img src="http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/6385942.jpg" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder wsite-image" /></a><span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span></span>
								<div class="paragraph" style="text-align:left;display:block;">Elizabeth Goodrich<br /><br />Elizabeth is a first year MBA student at Haas studying Entrepreneurship &amp; Strategy.&nbsp;</div>
								<hr style="width:100%;clear:both;visibility:hidden;"></hr>

								<span class='imgPusher' style='float:left;height:0px'></span><span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'>
								<a>
									<img src="http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/5831334.jpg" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder wsite-image" /></a><span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span></span>
								<div class="paragraph" style="text-align:left;display:block;">Johannes Koppel<br /><br />Johannes doesn't always drink beer, but when he does, he drinks dos equis.&nbsp;</div>
								<hr style="width:100%;clear:both;visibility:hidden;"></hr>

								</td>
								<td class='wsite-multicol-col' style='width:6.0810810810811%;padding:0 15px'>

								<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
								<a href='HTTP://WWW.LINKEDIN.COM/in/goodrichelizabeth/' target='_blank'>
								<img src="http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/6813469_orig.png" alt="Picture" style="width:100%;max-width:800px" />
								</a>
								<div style="display:block;font-size:90%"></div>
								</div></div>

								<div class="paragraph" style="text-align:left;"><br /><br /><br /><br /><br /><br /><br /></div>

								<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
								<a href='HTTP://WWW.LINKEDIN.COM/in/johanneskoeppel' target='_blank'>
								<img src="http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/9240069_orig.png" alt="Picture" style="width:100%;max-width:800px" />
								</a>
								<div style="display:block;font-size:90%"></div>
								</div></div>

								</td>
								<td class='wsite-multicol-col' style='width:42.381489841986%;padding:0 15px'>

								<span class='imgPusher' style='float:left;height:0px'></span><span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'><a><img src="http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/9070445.jpg" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder wsite-image" /></a><span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span></span>
								<div class="paragraph" style="text-align:left;display:block;">Michael Rossiter<br /><br />Michael  enjoys spending time with his fiance, Caroline, but hates long walks on the beach because he has sensitive skin.&nbsp;</div>
								<hr style="width:100%;clear:both;visibility:hidden;"></hr>

								<span class='imgPusher' style='float:left;height:0px'></span><span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'><a><img src="http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/1336708.jpg?1397686550" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;" alt="Picture" class="galleryImageBorder wsite-image" /></a><span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span></span>
								<div class="paragraph" style="text-align:left;display:block;">Angie Wang<br /><br />Besides getting a PhD in electrical engineering, Angie is a Weebly enthusiast.&nbsp;</div>
								<hr style="width:100%;clear:both;visibility:hidden;"></hr>

								</td>
								<td class='wsite-multicol-col' style='width:7.6185101580135%;padding:0 15px'>

								<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
								<a href='HTTP://WWW.LINKEDIN.COM/in/michaelbsrossiter' target='_blank'>
								<img src="http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/2126517.png?30" alt="Picture" style="width:auto;max-width:100%" />
								</a>
								<div style="display:block;font-size:90%"></div>
								</div></div>

								<div class="paragraph" style="text-align:left;"><br /><br /><br /><br /><br /><br /><br /></div>

								<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
								<a href='HTTP://WWW.LINKEDIN.COM/pub/angie-wang/50/489/401' target='_blank'>
								<img src="http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/8100522.png?30" alt="Picture" style="width:auto;max-width:100%" />
								</a>
								<div style="display:block;font-size:90%"></div>
								</div></div>

								</td>
								</tr>
								</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>