
<% provide(:title, 'Contact Us') %>

<body class='short-header-page  wsite-theme-light wsite-page-contact-us'>

<!-- START Navbar-->
	<%= render file: "/layouts/_navbar.html.erb" %>
<!-- END Navbar-->

<!-- START Shortbanner-->
	<%= render file: "/layouts/_shortbanner.html.erb" %>
<!-- END Shortbanner-->

 <div id="main-wrap" style="height:700px;">

<!-- Begin LaunchRock Widget -->
<div id="lr-widget" rel="B43Y6UL0"></div>
<script type="text/javascript" src="//ignition.launchrock.com/ignition-current.min.js"></script>
<!-- End LaunchRock Widget -->

     <div class="container">

		<div class="colorblocklight" style="float:left;">
			
					<div id='wsite-content' class='wsite-elements wsite-not-footer' style="position:absolute;z-index:2">
					<h2 class="wsite-content-title" style="text-align:left;">Thank You for visiting!</h2>


					<div class="paragraph" style="text-align:left; width:50%;">
						RoseBid was conceived at Berkeley-Haas School of Business in MBA 247: Design and Development of Web Based Products. RoseBid is currently launched as a 'live-demo'.<br><br>
						We hope you see the potential of the service - we certainly do. We are planning to launch a private beta in the near future. If you are interested, please leave your email address in the form to the right.
					</div>

					<div style="margin-top:100px;"></div>

					<h2 class="wsite-content-title" style="text-align:left;">Contact Us</h2>

					<div class="paragraph" style="text-align:left;"><a href="mailto:teamrosebid@gmail.com">teamrosebid@gmail.com</a><br>Haas School of Business<br>2220 Piedmont Ave<br />Berkeley, CA 94709<br />(215) 805-2172<br /><br /><br /></div>
				</div>


</div>

        </div><!-- end container -->
    </div><!-- end main-wrap -->
