<% provide(:title, 'Contact Us') %>
<body class='short-header-page  wsite-theme-light wsite-page-contact-us'>

<!-- START Navbar-->
	<%= render file: "/layouts/_navbar.html.erb" %>
<!-- END Navbar-->

<!-- START Shortbanner-->
	<%= render file: "/layouts/_shortbanner.html.erb" %>
<!-- END Shortbanner-->

 <div id="main-wrap">
        <div class="container">
			<!--<div class="colorblocklight">
				<div>
					<div style="height: 20px; overflow: hidden; width: 100%;"></div>
					<hr class="styled-hr" style="width:100%;">
					<div style="height: 10px; overflow: hidden; width: 100%;"></div>
				</div>
				<a name="locations" id="skip-to-content-1" class="skip-to-content-dark" href="#locations"></a>	
			</div>
			
			<div class="colorblockdark-map">
				<a name="reviews" id="skip-to-content-2" class="skip-to-content-dark" href="#reviews"></a>
			</div>-->
			<div class="colorblocklight">
				
					<div id='wsite-content' class='wsite-elements wsite-not-footer'>
<h2 class="wsite-content-title" style="text-align:left;">Contact Us</h2>

<div class="paragraph" style="text-align:left;">2220 Piedmont Ave<br />Berkeley, CA 94709<br />(215) 805-2172<br /><br /><br /></div>

<div>
<form enctype="multipart/form-data" action="http://www.weebly.com/weebly/apps/formSubmit.php" method="POST" id="form-936762187225804855">
<div id="936762187225804855-form-parent" class="wsite-form-container" style="margin-top:10px;">
  <ul class="formlist" id="936762187225804855-form-list">
    <h2 class="wsite-content-title" style="text-align:left;">Send us an Message</h2>

<div><div class="wsite-form-field wsite-name-field" style="margin:5px 0px 5px 0px;">
				<label class="wsite-form-label" for="input-286283958577465008">Name <span class="form-required">*</span></label>
				<div style="clear:both;"></div>
				<div class="wsite-form-input-container wsite-form-left wsite-form-input-first-name">
					<input id="input-286283958577465008" class="wsite-form-input wsite-input" type="text" name="_u286283958577465008[first]" />
					<label class="wsite-form-sublabel" for="input-286283958577465008">First</label>
				</div>
				<div class="wsite-form-input-container wsite-form-right wsite-form-input-last-name">
					<input id="input-286283958577465008-1" class="wsite-form-input wsite-input" type="text" name="_u286283958577465008[last]" />
					<label class="wsite-form-sublabel" for="input-286283958577465008-1">Last</label>
				</div>
				<div id="instructions-286283958577465008" class="wsite-form-instructions" style="display:none;"></div>
			</div>
			<div style="clear:both;"></div></div>

<div><div class="wsite-form-field" style="margin:5px 0px 5px 0px;">
				<label class="wsite-form-label" for="input-749248229215100489">Email <span class="form-required">*</span></label>
				<div class="wsite-form-input-container">
					<input id="input-749248229215100489" class="wsite-form-input wsite-input wsite-input-width-370px" type="text" name="_u749248229215100489" />
				</div>
				<div id="instructions-749248229215100489" class="wsite-form-instructions" style="display:none;"></div>
			</div></div>

<div><div class="wsite-form-field" style="margin:5px 0px 5px 0px;">
				<label class="wsite-form-label" for="input-335654022577828685">Comment <span class="form-required">*</span></label>
				<div class="wsite-form-input-container">
					<textarea id="input-335654022577828685" class="wsite-form-input wsite-input wsite-input-width-370px" name="_u335654022577828685" style="height: 200px"></textarea>
				</div>
				<div id="instructions-335654022577828685" class="wsite-form-instructions" style="display:none;"></div>
			</div></div>
  </ul>
</div>
<div style="display:none; visibility:hidden;">
  <input type="text" name="wsite_subject" />
</div>
<div style="text-align:left; margin-top:10px; margin-bottom:10px;">
  <input type="hidden" name="form_version" value="2" />
  <input type="hidden" name="wsite_approved" id="wsite-approved" value="approved" />
  <input type="hidden" name="ucfid" value="936762187225804855" />
  <input type='submit' style='position:absolute;top:0;left:-9999px;width:1px;height:1px' /><a class='wsite-button' onclick="document.getElementById('form-936762187225804855').submit()"><span class='wsite-button-inner'>Submit</span></a>
</div>
</form>


</div></div>

					<div>
						<div style="height: 20px; overflow: hidden; width: 100%;"></div>
						<hr class="styled-hr" style="width:100%;">
						<div style="height: 10px; overflow: hidden; width: 100%;"></div>
					</div>
				
			</div>
			<div id="content-bottom-padding"></div>
        </div><!-- end container -->
    </div><!-- end main-wrap -->
