<% provide(:title, 'How It Works') %>
<body class='short-header-page  wsite-theme-light wsite-page-how-it-works'>

<!-- START Navbar-->
	<%= render file: "/layouts/_navbar.html.erb" %>
<!-- END Navbar-->

<!-- START Shortbanner-->
	<%= render file: "/layouts/_shortbanner.html.erb" %>
<!-- END Shortbanner-->

 <div id="main-wrap">
        <div class="container">
			<!--<div class="colorblocklight">
				<div>
					<div style="height: 20px; overflow: hidden; width: 100%;"></div>
					<hr class="styled-hr" style="width:100%;">
					<div style="height: 10px; overflow: hidden; width: 100%;"></div>
				</div>
				<a name="locations" id="skip-to-content-1" class="skip-to-content-dark" href="#locations"></a>	
			</div>
			
			<div class="colorblockdark-map">
				<a name="reviews" id="skip-to-content-2" class="skip-to-content-dark" href="#reviews"></a>
			</div>-->
			<div class="colorblocklight">
				
					<div id='wsite-content' class='wsite-elements wsite-not-footer'>
<h2 class="wsite-content-title" style="text-align:left;">How it works<br /><br /></h2>

<div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
<table class='wsite-multicol-table'>
<tbody class='wsite-multicol-tbody'>
<tr class='wsite-multicol-tr'>
<td class='wsite-multicol-col' style='width:24.099099099099%;padding:0 15px'>

<h2 class="wsite-content-title" style="text-align:left;"><font size="7">STep 1</font></h2>

</td>
<td class='wsite-multicol-col' style='width:75.900900900901%;padding:0 15px'>

<h2 class="wsite-content-title" style="text-align:left;"><font size="5">Discover your Flower inspiration and wedding style.</font></h2>

<div class="paragraph" style="text-align:left;"><font size="4">We have built a curated style finder that learns from the choices you make. &nbsp;The more photos you look at and rate, the better sense we can get of the perfect style for your wedding. &nbsp;We only require 10 pictures to build your style profile, but use this step to tell us what inspires you. &nbsp; Next, we will find out exactly what arrangements you need for all of your wedding events.&nbsp;</font></div>

</td>
</tr>
</tbody>
</table>
</div></div></div>

<div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
<table class='wsite-multicol-table'>
<tbody class='wsite-multicol-tbody'>
<tr class='wsite-multicol-tr'>
<td class='wsite-multicol-col' style='width:23.986486486486%;padding:0 15px'>

<h2 class="wsite-content-title" style="text-align:left;"><font size="7">Step 2</font></h2>

</td>
<td class='wsite-multicol-col' style='width:76.013513513514%;padding:0 15px'>

<h2 class="wsite-content-title" style="text-align:left;"><font size="5">We Bring You&nbsp;Quotes From Amazing Florists.</font></h2>

<div class="paragraph" style="text-align:left;"><font size="4">We work with many of the top rated florists in the country. &nbsp;Once you have requested a quote, we will share your request with florists in your area that we think will bring your inspiration to life. &nbsp;Within 7 days, florists will respond to you with a quote so you can compare prices and make an informed decision.&nbsp;</font></div>

</td>
</tr>
</tbody>
</table>
</div></div></div>

<div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
<table class='wsite-multicol-table'>
<tbody class='wsite-multicol-tbody'>
<tr class='wsite-multicol-tr'>
<td class='wsite-multicol-col' style='width:23.986486486486%;padding:0 15px'>

<h2 class="wsite-content-title" style="text-align:left;"><font size="7">Step 3</font></h2>

</td>
<td class='wsite-multicol-col' style='width:76.013513513514%;padding:0 15px'>

<h2 class="wsite-content-title" style="text-align:left;"><font size="5">Choose Your Favorite Quote &amp; Visit Florists.</font></h2>

<div class="paragraph" style="text-align:left;"><font size="4"><span style="line-height: 27px;">Price isn't the only consideration when it comes to flowers for your day. &nbsp;Once you have received multiple quotes from our fantastics florists, you can review and compare quote details, read customer reviews and schedule visits with your favorite florists. &nbsp;Make sure to print and bring your Rose Bid quote along!&nbsp;</span></font></div>

</td>
</tr>
</tbody>
</table>
</div></div></div></div>

					<div>
						<div style="height: 20px; overflow: hidden; width: 100%;"></div>
						<hr class="styled-hr" style="width:100%;">
						<div style="height: 10px; overflow: hidden; width: 100%;"></div>
					</div>
				
			</div>
			<div id="content-bottom-padding"></div>
        </div><!-- end container -->
    </div><!-- end main-wrap -->

