	<div style="margin-top:5px;"></div>
	<div class="img-block wedding-flower-banner">
		<!-- <%= image_tag '/assets/wedding_flower_banner_short_2.jpg' %> -->
		<div class="banner-border">
			<div id="home-page-enter"> 
				<div class="banner-block-cover">
					<div class="paragraph" style="text-align:center;font-size:1.7em;color:white;">
								Discover your unqiue <em><font color="#f8a9a9" size="5">Wedding Style</font></em> and get quotes from <em><font color="#f8a9a9" size="5">Great Florists </font></em>.
					</div>
					<div style="margin-top:15px;"></div>
					<%= link_to "Get Started!", user_flow_pictures_path, :class => "wsite-button-large wsite-button-inner new-banner-button"  %>
				</div>
			</div>		
		</div>
	</div>