	<div style="margin-top:5px;"></div>
	<div class="img-block">
		<%= image_tag '/assets/wedding_flower_banner_short_2.jpg' %>
		<div class="banner-border">
			<div id="home-page-enter"> 
				<div class="banner-block-cover">
					<div class="paragraph" style="text-align:center;font-size:1.7em;color:white;">
								Discover Your <em><font color="#f8a9a9" size="5">Perfect Flowers</font></em> with <em><font color="#f8a9a9" size="5">Great Florists </font></em> &nbsp; for <font size="5"><em><font color="#f8a9a9">Your </font></em><em><font color="#f8a9a9">Big Day</font></em></font>.
					</div>
					<div style="margin-top:15px;"></div>
					<%= link_to "Get Started!", user_flow_pictures_path, :class => "wsite-button-large wsite-button-inner new-banner-button"  %>
				</div>
			</div>		
		</div>
	</div>