	<div style="margin-top: 60px;">
		<div class="banner-wrap wsite-background">
			<div id="banner">
				<div id="home-page-enter-border">
					<div id="home-page-enter">	
						<div class='wsite-elements wsite-not-footer'>
							<div class="paragraph" style="text-align:center;margin-left:28%;font-size:1.7em;">
								Get Quotes From <em><font color="#f8a9a9" size="5">Great Florists </font></em> &nbsp; for <font size="5"><em><font color="#f8a9a9">Your </font></em><em><font color="#f8a9a9">Big Day</font></em></font>.
							</div>
						</div>
						<div id="enter-button" style="text-align:center;padding-left:25%;">
							<div class='wsite-elements wsite-not-footer'>								
									<div class="wsite-multicol wsite-multicol-table-wrap" style='margin:0px -0px'>
										<div class='wsite-multicol-col' style='width:45%;padding:0 0px'>
												<div style="text-align:right;" style="margin-left:50%;">
												<div style="height: 10px; overflow: hidden;"></div>
													<%= link_to "Get Started!", user_flow_pictures_path, :class => "wsite-button wsite-button-large wsite-button-normal wsite-button-inner" %>
												<div style="height: 10px; overflow: hidden;"></div>
											</div>
										</div>
									</div>	
							</div>
						</div>
					</div>
				</div>
				
				<a name="content" id="skip-to-content" href="#content" style="margin:15.5% 0% 0% 0%;"></a>

<!-- START SKIP-TO-CONTENT Section -->	
			</div>
		</div>
	</div>
	
	<div style="margin-top: 5px;">
	</div>