	<div style="margin-top:5px;"></div>
	<div class="img-block block3">
		<!-- <%= image_tag '/assets/block3.jpg' %> -->
		<p class="img-block-cover">
			Style inspiration for the perfect wedding
		</p>		
		<div class="img-button-float">
			<button class="uk-button img-text-button pull-right" style="width:auto;border:0;margin-right:0%;" type="button">
				<i class="uk-icon-angle-right" style="display:block;float:left;padding-top:4px;padding-left:10px;"></i><i class="uk-icon-angle-right" style="display:block;float:left;padding-top:4px;"></i>
				<%= link_to "Start building my profile", user_flow_pictures_path, :style => "color:#000;" %>
			</button>
		</div>



	</div>