	<div style="margin-top:5px;"></div>
	<div class="img-block">
		<%= image_tag '/assets/block2.jpg' %>
		<div class="img-block-cover">
			<%= link_to "The best florists, personally vetted", user_flow_pictures_path %>
		</div>		
	</div>