	<div style="margin-top:5px;"></div>
	<div class="img-block">
		<%= image_tag '/assets/block1.jpg' %>
		<div class="img-block-cover">
			<%= link_to "Wedding Inspiration to find the perfect flowers", user_flow_pictures_path %>
		</div>		
	</div>