	<div style="margin-top:5px;"></div>
	<div class="img-block">
		<%= image_tag '/assets/block3.jpg' %>
		<div class="img-block-cover">
			<%= link_to "Get matched to top florists now!", user_flow_pictures_path %>
		</div>		
	</div>