	<div style="margin-top:5px;"></div>
	<div class="img-block">
		<%= image_tag '/assets/block1.jpg' %>
		<div class="img-text-float">
			Inspiration to Find the Perfect Flowers...
		</div>	
		<div class="img-button-float">
			<button class="uk-button img-text-button" style="width:15%;border=3px;border-color:#000;margin-left:65%;" type="button">
				<i class="uk-icon-angle-right" style="display:block;float:left;padding-top:6px;padding-left:10px;"></i>
				<%= link_to "Go now!", user_flow_pictures_path, :style => "color:#000;" %>
			</button>
		</div>
	</div>