	<div style="margin-top:5px;"></div>
	<div class="img-block block1">
		<!-- <%= image_tag '/assets/block1.jpg' %> -->
		<p class="img-block-cover">
			Inspiration to find the perfect flowers
		</p>


		<div class="img-button-float">
			<button class="uk-button img-text-button pull-right" style="width:auto;border:0;margin-right:0%;" type="button">
				<i class="uk-icon-angle-right" style="display:block;float:left;padding-top:4px;padding-left:10px;"></i>
				<%= link_to "Discover my style", user_flow_pictures_path, :style => "color:#000;" %>
			</button>
		</div>


	</div>