<div class="colorblockdark-map">
	<div id="locations">
		<div class='wsite-elements wsite-not-footer'>
			<!--<h2 class="wsite-content-title" style="text-align:center;">We work with highly rated florists across the country - find yours!</h2>	-->
			<h2 class="wsite-content-title" style="text-align:center;">We connect you with the best florists in <a href="#">Northern California</a>!</h2>
				<div class="main-small-text"><span style="font-size: .7em;">(Not getting married in <%= link_to "Northern California", static_pages_contact_path %>?)</span></div>
		</div>

	</div>



	<div align="center" style="width: 100%; overflow-y: hidden;" class="sec2">
		<div class="step">
			<div class="stepcol3">
				<span class='imgPusher' style='float:left;height:0px'></span>
				<span style='z-index:10;position:relative;float:left;max-width:100%;clear:left;margin-top:0px;*margin-top:0px'>
					<a href="#secretgarden_pic" data-uk-modal>
						<img src="http://rosehelp1.weebly.com/uploads/2/7/0/2/27022422/_5746861.png" style="min-width:75px;max-width:75px;min-height:60px;max-height:60px; margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder wsite-image" />
					</a>
					<span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span>
				</span>
							
				<p align="left"><b>The Secret Garden</b><br />Piedmont, CA<br /></p>
				<p align="left">"The Secret Garden is Piedmont's best kept secret. &nbsp;Xavier's eye for design and flowers is truly amazing. I wouldn't go anywhere else for my event." - <i>Karen</i></p>
			</div>

			<div class="step-spacing"></div>
				<div class="stepcol3">
					<span class='imgPusher' style='float:left;height:0px'></span>
					<span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'>
					<a href="#flowermtn_pic" data-uk-modal>
							<img src="http://rosehelp1.weebly.com/uploads/2/7/0/2/27022422/_7772943.png" style="min-width:75px;max-width:75px;min-height:60px;max-height:60px; margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder wsite-image" />
						</a>
						<span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span>
					</span>
					<p align="left"><b>Flowers on the Mountain</b><br />Mill Valley, CA<br /></p>
					<p align="left">"Janet was the only florist who knew exactly what I was looking for. She helped transform my day into something really special." - <i>Madison</i></p>
				</div>
				<div class="step-spacing"></div>
					<div class="stepcol3">
						<span class='imgPusher' style='float:left;height:0px'></span>
						<span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'>
						<a href="#alwaysbloom_pic" data-uk-modal>
							<img src="http://rosehelp1.weebly.com/uploads/2/7/0/2/27022422/_5280707.jpeg" style="min-width:75px;max-width:75px;min-height:60px;max-height:60px; margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" />
						</a>
						<span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span>
					</span>
							<p align="left"><b>Always in Bloom</b><br />Berkeley, CA<br /></p>
							<p align="left">"Tess was the easiest person to work with.  She anticipated what I wanted and delivered above and beyond what was expected." - <i>Alexis</i></p>
						</div>
						
					</div>
					</div>
				</div>
			</div>		
		<div>
			<hr class="styled-hr" style="width:100%;">
		</div>
	</div>
</div>
	
<!-- http://www.getuikit.com/docs/modal.html -->
										

					<div id="secretgarden_pic" class="uk-modal">
    						<div class="uk-modal-dialog" style="margin-top:150px;width:70%;min-height:400px;">
        						<a href="" class="uk-modal-close uk-close uk-close-alt"></a>
        							<h2>The Secret Garden - Piedmont, CA</h2><br>
        								<img src="http://rosehelp1.weebly.com/uploads/2/7/0/2/27022422/_5746861.png" style="margin-left:auto;margin-right:auto;margin-top:5px; margin-bottom: 10px;border-width:0;width:444px;height:400px;margin-left:200px;" alt="Picture" />
        					</div>
					</div>

					<div id="flowermtn_pic" class="uk-modal">
    						<div class="uk-modal-dialog" style="margin-top:150px;width:70%;min-height:400px;">
        						<a href="" class="uk-modal-close uk-close uk-close-alt"></a>
        							<h2>Flowers on the Mountain - Mill Valley, CA</h2><br>
        								<img src="http://rosehelp1.weebly.com/uploads/2/7/0/2/27022422/_5746861.png" style="margin-left:auto;margin-right:auto;margin-top:5px; margin-bottom: 10px;border-width:0;width:444px;height:400px;margin-left:200px;" alt="Picture" />
        					</div>
					</div>

					<div id="alwaysbloom_pic" class="uk-modal">
    						<div class="uk-modal-dialog" style="margin-top:150px;width:70%;min-height:400px;">
        						<a href="" class="uk-modal-close uk-close uk-close-alt"></a>
        							<h2>Always in Bloom - Berkeley, CA</h2><br>
        								<img src="http://rosehelp1.weebly.com/uploads/2/7/0/2/27022422/_5280707.jpeg" style="margin-left:auto;margin-right:auto;margin-top:5px; margin-bottom: 10px;border-width:0;width:444px;height:400px;margin-left:200px;" alt="Picture" />
        					</div>
					</div>

