<div class="colorblockdark-map">
    <div id="locations">
        <div class='wsite-elements wsite-not-footer'>
            <!--<h2 class="wsite-content-title" style="text-align:center;">We work with highly rated florists across the country - find yours!</h2> -->
            <h2 class="wsite-content-title" style="text-align:center;">We connect you with the best florists in <a href="#">Northern California</a>!</h2>
                <div class="main-small-text"><span style="font-size: .7em;">(Not getting married in <%= link_to "Northern California", static_pages_contact_path %>?)</span></div>
        </div>

    </div>
        
    <div class="slick-content" style="position:relative;">
        <div class="single-item-slick" style="position:relative;">
            <div class="slick-slide">
                <div class='galleryImageHolderTop'>
                    <div class='galleryImageHolder'>
                        <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic4.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                        <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic4thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                        </a>
                    </div>
                </div>
                <div class='galleryImageHolderTop'>
                    <div class='galleryImageHolder'>
                        <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic1.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                        <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic1thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                        </a>
                    </div>
                </div>
                <div class='galleryImageHolderTop'>
                    <div class='galleryImageHolder'>
                        <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic9.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                        <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic9thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                        </a>
                    </div>
                </div>
                <div class='galleryImageHolderTop'>
                    <div class='galleryImageHolder'>
                        <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic11.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                            <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic11thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                        </a>
                    </div>
                </div>
                                
                <br>
                               
                <div class="galleryImageHolderTop"><p align="center"><b><span style="color:#ee7777">The Secret Garden</span></b><br /><i>San Francisco, CA</i><br />"The Secret Garden is SF's best kept secret. &nbsp;Xavier's eye for design and flowers is truly amazing. I wouldn't go anywhere else for my event." - <i>Karen</i></p></div>
                                   
                <div class="galleryImageHolderTop"><p align="center"><b><span style="color:#ee7777">Flowers by the River</span></b><br /><i>Oakland, CA</i><br />Janet was the only florist who knew exactly what I was looking for. She helped transform my day into something really special." - <i>Madison</i></p></div>
                                   
                <div class="galleryImageHolderTop"><p align="center"><b><span style="color:#ee7777">SF FLowers</span></b><br /><i>San Fransicsco, CA</i><br />"Choosing SF Flowers was the best decision I made for my wedding. They were incredibly professional and gave me the best advice." - <i>Channing</i></p></div>
                    
                <div class="galleryImageHolderTop"><p align="center"><b><span style="color:#ee7777">Always in Bloom</span></b><br /><i>Napa, CA</i><br />"Tess was the easist person to work with. She anticipated what I wanted and delivered above and beyond what was expected." - <i>Alexis</i></p></div>
                               
            </div>
                            
            <div class="slick-slide" >
                
                <div class='galleryImageHolderTop'>
                    <div class='galleryImageHolder'>
                        <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic14.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                        <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic14thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                        </a>
                    </div>
                </div>
                
                <div class='galleryImageHolderTop'>
                    <div class='galleryImageHolder'>
                        <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic18.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                            <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic18thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                        </a>
                    </div>
                </div>
                                
                <div class='galleryImageHolderTop'>
                    <div class='galleryImageHolder'>
                        <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic25.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                            <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic25thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                        </a>
                    </div>
                </div>
                            
                <div class='galleryImageHolderTop'>
                    <div class='galleryImageHolder'>
                        <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic28.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                            <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic28thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                        </a>
                    </div>
                </div>
                                
                <br>
                               
                <div class="galleryImageHolderTop"><p align="center"><b><span style="color:#ee7777">Flowers and Flowers</span></b><br /><i>San Fransisco, CA</i><br />"Dino and Mark were both friendly and personable. I truly enjoyed working with them both and the flowers were a highlight of my wedding." -<i>Jessica</i><br></p></div>
                
                <div class="galleryImageHolderTop"><p align="center"><b><span style="color:#ee7777">The Little Shop of Flowers</span></b><br /><i>Berkeley, CA</i><br />"I loved every aspect of working with Becca. She was insipiring and produced amazing work. HIGHLY RECOMMENDED!" &nbsp;- <i>Shirley</i></p></div>
                                   
                <div class="galleryImageHolderTop"><p align="center"><b><span style="color:#ee7777">Flowers for Days</span></b><br /><i>San Francisco, CA</i><br />"Working with Dave at Flowers for Days was easy and fun. My flowers turned out amazing. I would recommend him for anyone's wedding." - <i>Tricia</i></p></div>
                                    
                <div class="galleryImageHolderTop"><p align="center"><b><span style="color:#ee7777">As the Flowers Turn</span></b><br /><i>San Francisco, SF</i><br />"My wedding was stressful. Really stressful. Meghan knew just what I wanted. She got me the best flowers at the best price." - <i>Stephanie</i></p></div>
                               
                                
            </div>
        </div>
    </div>
</div>
</div><!-- end container -->
</div><!-- end main-wrap -->