	<div id="main-wrap">
		<div class="container">
			<div class="colorblocklight">
				<div class='wsite-elements wsite-not-footer'>
					<div align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml colorful">
						<div class="fancy-font-header"><h2>Three Easy Steps</h2></div>
					</div>
					<div align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
						<div class="step">
							<div id="step1">
								<h2>1: Get Inspired!</h2>
							</div>
							<div class="step-spacing"></div>
							<div id="step2">
								<h2>2: Pick Your Flowers</h2>
							</div>
							<div class="step-spacing"></div>
							<div id="step3">
								<h2>3: Receive Quotes</h2>
							</div>
						</div>
						<div class="step">
							<div class="subcontent">
								 We help you discover and express your unique style.
							</div>
							<div class="step-spacing"></div>
							<div class="subcontent">
								 We walk you through each type of floral arrangement so you know what you are being quoted on. 
							</div>
							<div class="step-spacing"></div>
							<div class="subcontent">
								 We deliver you with Certified Quotes that you can print and bring with you on Visits to Florists. 
							</div>
						</div>
					</div>
				</div>

<!-- START SKIP-TO-CONTENT-DARK Section -->

				<div>
					<div style="height: 20px; overflow: hidden; width: 100%;"></div>
					<hr class="styled-hr" style="width:100%;">
					<div style="height: 10px; overflow: hidden; width: 100%;"></div>
				</div>
			</div>
		</div>
	</div>