	<div id="main-wrap">
		<div class="container">
			<div class="colorblocklight">
				<div class='wsite-elements wsite-not-footer'>
					<div align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml colorful">
						<h3> Perfect Flowers for Your Wedding</h3>
						<div class="fancy-font-header"><h2>In 3 Easy Steps</h2></div>
					</div>
					<div align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
						<div class="step">
							<div id="step1">
								<h2>Step 1</h2>
								Discover Your Flower Inspiration & Wedding Style.
							</div>
							<div class="step-spacing"></div>
							<div id="step2">
								<h2>Step 2</h2>
								We Bring <i>You</i> Quotes From Amazing Florists.
							</div>
							<div class="step-spacing"></div>
							<div id="step3">
								<h2>Step 3</h2>
								Choose Your Favorite Quote & Visit Florists. 
							</div>
						</div>
						<div class="step">
							<div class="subcontent">
								Tell us what inspires YOU! Build your profile with pictures and inspiration so we can find you flowers that fit YOUR style. Tell us which events you need flowers for. 
							</div>
							<div class="step-spacing"></div>
							<div class="subcontent">
								We will send your personal flower profile and event needs to our favorite florists in your area to get the best possible price on your flowers.
							</div>
							<div class="step-spacing"></div>
							<div class="subcontent">
								Review your quotes, read our customer florist reviews and schedule a visit with your favorite florist. Print out your quote to bring to your florist visit.
							</div>
						</div>
					</div>
				</div>

<!-- START SKIP-TO-CONTENT-DARK Section -->

				<div>
					<div style="height: 20px; overflow: hidden; width: 100%;"></div>
					<hr class="styled-hr" style="width:100%;">
					<div style="height: 10px; overflow: hidden; width: 100%;"></div>
				</div>
				<a name="locations" id="skip-to-content-1" class="skip-to-content-dark" href="#locations"></a>	
			</div>
		</div>
		</div>