	<div id="main-wrap">
		<div class="container">
			<div class="colorblocklight">
				<div class='wsite-elements wsite-not-footer'>
					<div align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml colorful">
						<div class="fancy-font-header"><h2>Three Easy Steps</h2></div>
					</div>
					<div align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
						<div class="step">
							<div id="step1">
								<h2>Step 1:</h2>Get Inspired!
							</div>
							<div class="step-spacing"></div>
							<div id="step2">
								<h2>Step 2:</h2> Pick Your Flowers
							</div>
							<div class="step-spacing"></div>
							<div id="step3">
								<h2>Step 3:</h2> Receive Quotes
							</div>
						</div>
						<div class="step">
							<div class="subcontent">
								Our style editor will help you discover your unique wedding flower style.  Choose from photos, colors, words and other inspiration.
							</div>
							<div class="step-spacing"></div>
							<div class="subcontent">
								We help you pick each arrangement that you will need for all your wedding events. 
							</div>
							<div class="step-spacing"></div>
							<div class="subcontent">
								We provide you with Certified Quotes from trusted florists for you to print and bring along to your visit. 
							</div>
						</div>
					</div>
				</div>

<!-- START SKIP-TO-CONTENT-DARK Section -->

				<div>
					<div style="height: 20px; overflow: hidden; width: 100%;"></div>
					<hr class="styled-hr" style="width:100%;">
					<div style="height: 10px; overflow: hidden; width: 100%;"></div>
				</div>
			</div>
		</div>
	</div>