<div class="colorblockdark-map">

        <div align="center" style="width:100%; overflow-y: hidden;" class="wcustomhtml colorful">
                        <h2> See what our Customers are saying</h2>

        


        <div class="slick-content" style="position:relative;">
                        <div class="single-item-slick" style="position:relative;">
                            <div class="slick-slide" >
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic30.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic30thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic32.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic32thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/eventflowers/bridebouquet/bouquet7.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/eventflowers/bridebouquet/bouquet7thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/eventflowers/Canopy/Canopy1.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/eventflowers/Canopy/Canopy1.jpg' class='galleryImage' style='position:absolute;border:0;height:100%;top:0%;left:0%'>
                                </a></div></div>
                                
                                <br>
                               
                                    <div class="galleryImageHolderTop" style="min-height:177px;"><p align="center"><div class="fancy-font-header"><h2 style="color:#ee7777;">Brittany</h2></div><b></p><p style="text-align:center; margin-top:0px; padding-top:0px;">29, Walnut Creek</b></p></div>
                                   <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic39.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic39thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                   <div class="galleryImageHolderTop" style="min-height:177px;"><p align="center"><br><b>I spent for-EVER calling florists and trying to get prices. RoseBid made it really easy! My flowers were beautiful!"</b></p></div>
                                    <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/eventflowers/altar/Altar2.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/eventflowers/altar/Altar2thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                               
                                
                            </div>
                            <div class="slick-slide" >
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic1.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic1thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic25.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic25thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/eventflowers/bridebouquet/bouquet6.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/eventflowers/bridebouquet/bouquet6thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/eventflowers/Canopy/Canopy2.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/eventflowers/Canopy/Canopy2thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                
                                <br>
                               
                                    <div class="galleryImageHolderTop" style="min-height:177px;"><p align="center"><div class="fancy-font-header"><h2 style="color:#ee7777;">Alexis</h2></div><b></p><p style="text-align:center; margin-top:0px; padding-top:0px;">27, San Mateo</b></p></div>
                                   <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic37.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic37thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                   <div class="galleryImageHolderTop" style="min-height:177px;"><p align="center"><br><b>"Rose Bid helped me find my perfect flowers!"</b></p></div>
                                    <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/eventflowers/altar/Altar3.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/eventflowers/altar/Altar3thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                               
                                
                            </div>

                            <div class="slick-slide" >
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic4.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic4thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic40.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic40thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/eventflowers/bridebouquet/bouquet5.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/eventflowers/bridebouquet/bouquet5thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/eventflowers/Canopy/Canopy3.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/eventflowers/Canopy/Canopy3thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                
                                <br>
                               
                                    <div class="galleryImageHolderTop" style="min-height:177px;"><p align="center"><div class="fancy-font-header"><h2 style="color:#ee7777;">Jennifer</h2></div><b></p><p style="text-align:center; margin-top:0px; padding-top:0px;">31, San Francisco</b></p></div>
                                   <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic32.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic32thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                   <div class="galleryImageHolderTop" style="min-height:177px;"><p align="center"><br><b>"I was lost in the flower world and Rose Bid saved me"</b></p></div>
                                    <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/eventflowers/altar/Altar4.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/eventflowers/altar/Altar4thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                               
                                
                            </div>

                            <div class="slick-slide" >
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic37.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic37thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic14.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic14thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/eventflowers/bridebouquet/bouquet4.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/eventflowers/bridebouquet/bouquet4thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/eventflowers/Canopy/Canopy4.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/eventflowers/Canopy/Canopy4thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                
                                <br>
                               
                                    <div class="galleryImageHolderTop" style="min-height:177px;"><p align="center"><div class="fancy-font-header"><h2 style="color:#ee7777;">Elizabeth</h2></div><b></p><p style="text-align:center; margin-top:0px; padding-top:0px;">25, Berkeley</b></p></div>
                                   <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic30.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic30thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                   <div class="galleryImageHolderTop" style="min-height:177px;"><p align="center"><br><b>"With Rose Bid, I was able to find my flowers and my florist all in one spot"</b></p></div>
                                    <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/eventflowers/altar/Altar5.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/eventflowers/altar/Altar5thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                               
                                
                            </div>
                        </div>
                    </div>
                    

                        
                    </div>
                </div>
            </div><!-- end container -->
        </div><!-- end main-wrap -->


<!-- End Customer Feedback -->