<% provide(:title, 'Quote from Bella Flora') %>
<body class='short-header-page  wsite-theme-light'>


<!-- START Navbar-->
	<%= render file: "/layouts/_navbar.html.erb" %>
<!-- END Navbar--> 
      
	<div class="banner-wrap wsite-background">
		<div id="banner">
			<!-- Modified <h2>{headline:text global="false"}</h2> 
				 <p>{headline-paragraph:text global="false"}</p>
				 <div class="button-wrap">{loginaction:button global="false"}</div> -->
			<div id="home-page-enter-border">

				<div id="home-page-enter">	
				</div>
			</div>
			
		</div>
	</div>

    <div id="main-wrap">
        <div class="container">
			<!--<div class="colorblocklight">
				<div>
					<div style="height: 20px; overflow: hidden; width: 100%;"></div>
					<hr class="styled-hr" style="width:100%;">
					<div style="height: 10px; overflow: hidden; width: 100%;"></div>
				</div>
				<a name="locations" id="skip-to-content-1" class="skip-to-content-dark" href="#locations"></a>	
			</div>
			
			<div class="colorblockdark-map">
				<a name="reviews" id="skip-to-content-2" class="skip-to-content-dark" href="#reviews"></a>
			</div>-->


<!-- START YIELD -->

			<div class="colorblocklight">

				
			
				<div id='wsite-content' class='wsite-elements wsite-not-footer'>
<h2 class="wsite-content-title" style="text-align:center;">Caroline, Here is your Quote from Bella Flora</h2>
			

<div style="text-align:center;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-large wsite-button-normal" href="javascript:window.print();" >
<span class="wsite-button-inner">Print Quote</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>

					<div>
						<div style="height: 20px; overflow: hidden; width: 100%;"></div>
						<hr class="styled-hr" style="width:100%;">
						<div style="height: 10px; overflow: hidden; width: 100%;"></div>
					</div>
			


<span class='imgPusher' style='float:left;height:0px'></span><span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'><a><img src="/uploads/2/7/0/2/27022422/4918974.jpeg" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder wsite-image" /></a><span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span></span>
<div class="paragraph" style="text-align:left;display:block;"><font size="4">Bella Flora&nbsp;</font><br />1475 Polk St. Suite 7 San Francisco, CA<br />(415) 441-5390<br />www.bellafiora.com<br /><br />Whether classic elegance or playful and fun, together we&iacute;ll make your wedding a beautiful reality. Endless exceptional weddings in the SF Bay Area and wine country attest to our expertise and experience. Our attention to detail, personal touch,and creating that wow factor makes your wedding unique.<br /></div>
<hr style="width:100%;clear:both;visibility:hidden;"></hr>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<h2 class="wsite-content-title" style="text-align:left;"><font size="5">Ceremony Flower Quote, Prepared for Ms. Caroline Bennett April 5, 2014</font></h2>

<div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
<table class='wsite-multicol-table'>
<tbody class='wsite-multicol-tbody'>
<tr class='wsite-multicol-tr'>
<td class='wsite-multicol-col' style='width:49.200376293509%;padding:0 15px'>

<div class="paragraph" style="text-align:left;">Date: &nbsp; April 5, 2014<br />To: &nbsp; &nbsp; &nbsp; &nbsp;Ms. Caroline Bennett &amp;&nbsp;<span style="line-height: 1.5;">Mr. Michael Sloan-Rossiter</span><br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1668 Arch St.&nbsp;<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Berkeley, CA, 94709<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (510) 929-7311<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; MrsRossiter@Gmail.com<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ImTheMan@Gmail.com<br /><br /></div>

</td>
<td class='wsite-multicol-col' style='width:50.799623706491%;padding:0 15px'>

<div class="paragraph" style="text-align:left;">Sales Person: &nbsp;Jeanine Richardson<br />Account #: Bennett<br />Day: Saturday<br />Affair Date: 7/21/14<br />Time: 6:00 pm<br />Location: The Moma, San Francisco<br /><span style=""></span><br /><span style=""></span><br /></div>

</td>
</tr>
</tbody>
</table>
</div></div></div>

<div class="paragraph" style="text-align:left;">TERMS: A DEPOSIT OF $500.00 DUE UPON THE APPROVAL OF &nbsp;CONTRACT.&nbsp;AN ADDITIONAL DEPOSIT OF $500.00 IS DUE ON 5/1/14. AN ADDITIONAL DEPOSIT OF $500.00 IS DUE ON 6/15/14.&nbsp;<br />THE BALANCE IS DUE (4) FOUR DAYS PRIOR TO PARTY.<br />WE ACCEPT PERSONAL &amp; BUSINESS CHECKS, MASTERCARD &amp; VISA FOR ALL PAYMENTS.&nbsp;<br />WE DO NOT ACCEPT AMERICAN EXPRESS.&nbsp;</div>

<div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
<table class='wsite-multicol-table'>
<tbody class='wsite-multicol-tbody'>
<tr class='wsite-multicol-tr'>
<td class='wsite-multicol-col' style='width:6.7669172932331%;padding:0 15px'>

<div class="paragraph" style="text-align:center;"><u>QTY</u><br /><span style=""></span></div>

<div class="paragraph" style="text-align:center;">1<br /><br />5<br /><br />8<br /><br />1<br /><br />1<br /><br />2<br /><br />1</div>

</td>
<td class='wsite-multicol-col' style='width:43.233082706767%;padding:0 15px'>

<div class="paragraph" style="text-align:left;"><u>Description</u></div>

<div class="paragraph" style="text-align:left;">Bridal Bouquet - White Peonies, White Roses, Green accent<br /><br />Bridesmaid Bouquet - Pink Roses, Green accent<br /><br />Boutonnieres - White Lilly, Green accent<br /><br />Flower Girl Basket - Pink Rose Petals<br /><br />Canopy Piece for Alter - White Peonies, White Roses, Pink Roses, Green accent<br />Matching tall pieces for Alter<br /><br />Bunting for along aisle&nbsp;<br /><br /><br /></div>

</td>
<td class='wsite-multicol-col' style='width:25%;padding:0 15px'>

<div class="paragraph" style="text-align:left;"><u>Unit Price</u></div>

<div class="paragraph" style="text-align:left;">200<br /><br />85<br /><br />10<br /><br />50<br /><br />500<br /><br />350<br /><br />150<br /><br />SubTotal<br />Delivery (10%)<br />Total<br />Sales Tax (10%)<br /><strong>Grand Total</strong></div>

</td>
<td class='wsite-multicol-col' style='width:25%;padding:0 15px'>

<div class="paragraph" style="text-align:left;"><u>Total</u></div>

<div class="paragraph" style="text-align:left;">200<br /><br />425<br /><br />80<br /><br />50<br /><br />500<br /><br />700<br /><br /><u>150</u><br /><br />$2,105<br /><u>&nbsp; &nbsp; &nbsp; &nbsp;210</u><br />$2,315<br />&nbsp;<u> &nbsp; &nbsp; &nbsp;232</u><br /><strong>$2,547</strong></div>

</td>
</tr>
</tbody>
</table>
</div></div></div>

<div class="paragraph" style="text-align:left;"><strong>Terms &amp; Conditions</strong><br /><br /><br />A) A deposit of $500.00 due upon the approval of contract. An additional deposit of $ 500.00 is due on 5/1/12. An additional deposit of $500.00 is due on 6/15/14. The remaining balance, contingent on the final guest count guarantee will be due in full (4) four business days prior to your event, paid directly to Bella Flora, Inc.<br /><span style=""></span><br /><span style=""></span>  Bella Flora, Inc. accepts personal and business checks, Master Card and Visa for payment of all deposits and final billing. Please make checks payable to Bella Flora, Inc.<br /><span style=""></span><br /><span style=""></span>  B) A (10%) ten percent is for delivery, set-up and breakdown on all parties. <br /><span style=""></span><br /><span style=""></span>  C)&nbsp;In the event of cancellation (30) thirty days or more prior to your event , your deposit will be refunded in full, less any expenses Bella Flora has incurred for goods and florals specifically purchased for your event. Cancellations within (30) thirty days or less of your event, Bella Flora will refund (50%) fifty percent of the deposit, less any expenses Bella Flora has incurred for goods and florals specifically purchased for your event. The remaining (50%) fifty percent will be held for a period of (24) twenty- four months to be applied to a subsequent party date. After the (24) twenty-four month period has expired, Bella Flora will retain that part of the deposit <br /><span style=""></span><br /><span style=""></span>  D) All props, rented linens and equipment remain the property of Bella Flora, Inc. or its subcontractors. All flowers, artwork and custom made linens (unless otherwise specified) belong to the client. Flowers and custom linens not removed by the client at the end of the event will be removed and disposed of at the discretion of Bella Flora if not otherwise directly specified by the client prior to the event. <br /><span style=""></span><br /><span style=""></span>  E)&nbsp;<strong style="">Approval&#8232;</strong>If this proposal and these terms are acceptable, please sign and date this contract below and return with your deposit to Bella Flora, Inc. &#8232;Gratuities are solely at the discretion of the host and are greatly appreciated by the entire staff. <br /><span style=""></span><br /><span style=""></span>  _______________________________________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _________________________________________________________&nbsp;<br />Date &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Signature<br /><span style=""></span><br /><span style=""></span><br /><br /><br /><br /></div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
<table class='wsite-multicol-table'>
<tbody class='wsite-multicol-tbody'>
<tr class='wsite-multicol-tr'>
<td class='wsite-multicol-col' style='width:50%;padding:0 15px'>

<div style="text-align:left;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-normal" href="view-quotes.html" >
<span class="wsite-button-inner">Back to Review Quotes</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>

</td>
<td class='wsite-multicol-col' style='width:50%;padding:0 15px'>

<div style="text-align:right;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-normal" href="javascript:window.print();" >
<span class="wsite-button-inner">Print Quote</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>

</td>
</tr>
</tbody>
</table>
</div></div></div></div>






			</div>

<!-- END YIELD -->

			<div id="content-bottom-padding"></div>
        </div><!-- end container -->
    </div><!-- end main-wrap -->

    
<!-- END YIELD -->


</body>