<body class='short-header-page  wsite-theme-light'>

<!-- START Navbar-->
	<div id="nav-wrap">
		<div class="container">
			<table id="header">
				<tr>
					<td id ="logo"><!--{logo}-->
						<a href="index.html"><span class="stalemate">R</span><span id="title-text2">ose</span><span class="cinzel">Bid</span></a>
						<!--<img src="/files/theme/title-icon-4.png" id="title-icon">-->
						<span id="subtitle-text">Find the Perfect Flowers for Your Wedding</span>
					</td>
					<!--{menu}-->
					<td>
						<ul class='wsite-menu-default'>
							<li id='pg925725211574932156'><%= link_to "Home", root_path %></li>
							<li id='pg925725211574932156'><%= link_to "Sign Up", user_flow_login_path %></li>
							<li id='pg925725211574932156'><%= link_to "Log In", user_flow_login_path %></li>
						</ul>

					</td>

					<!--<td class="search">{search}</td>-->
				</tr>
			</table>
		</div><!-- end container -->
	</div><!-- end nav-wrap -->

<!-- END Navbar-->
       
	<div class="banner-wrap wsite-background">
		<div id="banner">
			<!-- Modified <h2>{headline:text global="false"}</h2> 
				 <p>{headline-paragraph:text global="false"}</p>
				 <div class="button-wrap">{loginaction:button global="false"}</div> -->
			<div id="home-page-enter-border">

				<div id="home-page-enter">	
				</div>
			</div>
			
		</div>
	</div>

    <div id="main-wrap">
        <div class="container">
			<!--<div class="colorblocklight">
				<div>
					<div style="height: 20px; overflow: hidden; width: 100%;"></div>
					<hr class="styled-hr" style="width:100%;">
					<div style="height: 10px; overflow: hidden; width: 100%;"></div>
				</div>
				<a name="locations" id="skip-to-content-1" class="skip-to-content-dark" href="#locations"></a>	
			</div>
			
			<div class="colorblockdark-map">
				<a name="reviews" id="skip-to-content-2" class="skip-to-content-dark" href="#reviews"></a>
			</div>-->


<!-- START YIELD -->

			<div class="colorblocklight">

				
			<div id='wsite-content' class='wsite-elements wsite-not-footer'>
<h2 class="wsite-content-title" style="text-align:left;">Bella Flora</h2>			

					<div>
						<div style="height: 20px; overflow: hidden; width: 100%;"></div>
						<hr class="styled-hr" style="width:100%;">
						<div style="height: 10px; overflow: hidden; width: 100%;"></div>
					</div>
			
<div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
<table class='wsite-multicol-table'>
<tbody class='wsite-multicol-tbody'>
<tr class='wsite-multicol-tr'>
<td class='wsite-multicol-col' style='width:70.649106302916%;padding:0 15px'>

<span class='imgPusher' style='float:left;height:0px'></span><span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'><a><img src="/uploads/2/7/0/2/27022422/__5195887.jpeg" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder wsite-image" /></a><span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span></span>
<div class="paragraph" style="text-align:left;display:block;">1475 Polk St. Suite 7&nbsp;<br />San Francisco, CA<br />(415) 441-5390<br /><a href="http://www.bellafiora.com" title="">www.bellaflora.com</a><br /><font color="#e05c5c"><strong style="">&#9733;</strong><strong style="">&#9733;</strong><strong style="">&#9733;</strong><strong style="">&#9733;</strong></font><strong style=""><font color="#e05c5c">&#9733;</font></strong><br />Whether classic elegance or playful and fun, together we'll make your wedding a beautiful reality. Endless exceptional weddings in the SF Bay Area and wine country attest to our expertise and experience. Our attention to detail, personal touch, and creating that wow factor makes your wedding unique.</div>
<hr style="width:100%;clear:both;visibility:hidden;"></hr>

<div><div id="724354637283711570" align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><div><div style="height: 0px; overflow: hidden;"></div>
				<div id='260239693149389825-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0; overflow: hidden'>
<div id='260239693149389825-imageContainer0' style='float:left;width:19.95%;margin:0;'><div id='260239693149389825-insideImageContainer0' style='position:relative;margin:5px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/___2040433_orig.jpg' rel='lightbox[gallery260239693149389825]' onclick='if (!window.lightboxLoaded) return false'><img src='/uploads/2/7/0/2/27022422/___2040433.jpg' class='galleryImage' _width='400' _height='598' style='position:absolute;border:0;width:100%;top:-49.67%;left:0%' /></a></div></div></div></div><div id='260239693149389825-imageContainer1' style='float:left;width:19.95%;margin:0;'><div id='260239693149389825-insideImageContainer1' style='position:relative;margin:5px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/___5608485_orig.jpg' rel='lightbox[gallery260239693149389825]' onclick='if (!window.lightboxLoaded) return false'><img src='/uploads/2/7/0/2/27022422/___5608485.jpg' class='galleryImage' _width='400' _height='267' style='position:absolute;border:0;width:112.36%;top:0%;left:-6.18%' /></a></div></div></div></div><div id='260239693149389825-imageContainer2' style='float:left;width:19.95%;margin:0;'><div id='260239693149389825-insideImageContainer2' style='position:relative;margin:5px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/___2275951_orig.jpg' rel='lightbox[gallery260239693149389825]' onclick='if (!window.lightboxLoaded) return false'><img src='/uploads/2/7/0/2/27022422/___2275951.jpg' class='galleryImage' _width='400' _height='598' style='position:absolute;border:0;width:100%;top:-49.67%;left:0%' /></a></div></div></div></div><div id='260239693149389825-imageContainer3' style='float:left;width:19.95%;margin:0;'><div id='260239693149389825-insideImageContainer3' style='position:relative;margin:5px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/___8141445_orig.jpg' rel='lightbox[gallery260239693149389825]' onclick='if (!window.lightboxLoaded) return false'><img src='/uploads/2/7/0/2/27022422/___8141445.jpg' class='galleryImage' _width='400' _height='267' style='position:absolute;border:0;width:112.36%;top:0%;left:-6.18%' /></a></div></div></div></div><div id='260239693149389825-imageContainer4' style='float:left;width:19.95%;margin:0;'><div id='260239693149389825-insideImageContainer4' style='position:relative;margin:5px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/___7101093_orig.jpg' rel='lightbox[gallery260239693149389825]' onclick='if (!window.lightboxLoaded) return false'><img src='/uploads/2/7/0/2/27022422/___7101093.jpg' class='galleryImage' _width='400' _height='267' style='position:absolute;border:0;width:112.36%;top:0%;left:-6.18%' /></a></div></div></div></div><span style='display: block; clear: both; height: 0px; overflow: hidden;'></span>
</div>

				<div style="height: 0px; overflow: hidden;"></div></div></div>



</div>

</td>
<td class='wsite-multicol-col' style='width:29.350893697084%;padding:0 15px'>

<div class="paragraph" style="text-align:center;"><font size="6">$2,547</font></div>

<div style="text-align:center;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-normal" href="http://rose-bid.weebly.com/bella-flora-quote.html" >
<span class="wsite-button-inner">View Quote Details</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>

<div class="wsite-map"><iframe allowtransparency="true" frameborder="0" scrolling="no" style="width: 100%; height: 250px; margin-top: 10px; margin-bottom: 10px;" src="//www.weebly.com/weebly/apps/generateMap.php?map=google&elementid=146616100492644642&ineditor=0&control=3&width=auto&height=250px&overviewmap=0&scalecontrol=0&typecontrol=0&zoom=15&long=-122.418333&lat=37.775&domain=www&point=1&align=1"></iframe></div>

</td>
</tr>
</tbody>
</table>
</div></div></div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<h2 class="wsite-content-title" style="text-align:left;"><font size="5">Customer Reviews</font></h2>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<span class='imgPusher' style='float:left;height:0px'></span><span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'><a><img src="/uploads/2/7/0/2/27022422/1916784.jpeg?187" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder wsite-image" /></a><span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span></span>
<div class="paragraph" style="text-align:left;display:block;"><strong>FANTASTIC!!!</strong><br />Johanna, 28<br />Napa Valley, CA<br />Posted 12/2/2013<br /><font color="#e05c5c"><strong style="">&#9733;</strong><strong style="">&#9733;</strong><strong style="">&#9733;</strong></font><strong style=""><font color="#e05c5c">&#9733;</font></strong><font color="#e05c5c">&#9734;</font><br /><span style="line-height: 1.5;">Bella Flora did the floral arrangements for our wedding 6 weeks ago. I knew the types of flowers I wanted in the arrangements and shared several pictures of designs I liked. Dino came up with a fantastic design that fit our vision perfectly. We chose a modern look with submerged flowers and LED lights illuminating through glass stones from the bottom of the vase. It looked phenomenal as the sun set and the lights came on in the vases. I'm also pretty sure our photographer loved the ceremony arrangements - he used them as a frame in a variety of shots.</span><br /><br />Mark handled all of the email and business communication. In fact, he offered to handle some of the coordination duties of my wedding if I wanted. Though I declined at the time, if I were ever to plan such a large event again, I would be absolutely comfortable allowing Mark to take on coordination duties. He responded to email very promptly and when he said he would do something, it happened smoothly without me needing to remind him at all.<br /><br />Dino and Mark helped to pack up the flowers at the end of the night and let use take them home with us to use as decorations for our day-after brunch. We simply brought the vases back a week later. These two are super easy to work with.<br /><br />Dino and Mark were both friendly and personable. I truly enjoyed working with them both and I would love to work with them again. HIGHLY RECOMMENDED!<br /><br /></div>
<hr style="width:100%;clear:both;visibility:hidden;"></hr>

<div><div style="height: 0px; overflow: hidden;"></div>
				<div id='412515056685431064-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
<div id='412515056685431064-imageContainer0' style='float:left;width:19.95%;margin:0;'><div id='412515056685431064-insideImageContainer0' style='position:relative;margin:0px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/9209977_orig.jpeg' rel='lightbox[gallery412515056685431064]' onclick='if (!window.lightboxLoaded) return false'><img src='/uploads/2/7/0/2/27022422/9209977.jpeg' class='galleryImage' _width='225' _height='225' style='position:absolute;border:0;width:100%;top:-16.67%;left:0%' /></a></div></div></div></div><div id='412515056685431064-imageContainer1' style='float:left;width:19.95%;margin:0;'><div id='412515056685431064-insideImageContainer1' style='position:relative;margin:0px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/5050366_orig.jpeg' rel='lightbox[gallery412515056685431064]' onclick='if (!window.lightboxLoaded) return false'><img src='/uploads/2/7/0/2/27022422/5050366.jpeg' class='galleryImage' _width='225' _height='225' style='position:absolute;border:0;width:100%;top:-16.67%;left:0%' /></a></div></div></div></div><div id='412515056685431064-imageContainer2' style='float:left;width:19.95%;margin:0;'><div id='412515056685431064-insideImageContainer2' style='position:relative;margin:0px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/7686764_orig.jpeg' rel='lightbox[gallery412515056685431064]' onclick='if (!window.lightboxLoaded) return false'><img src='/uploads/2/7/0/2/27022422/7686764.jpeg' class='galleryImage' _width='183' _height='276' style='position:absolute;border:0;width:100%;top:-50.55%;left:0%' /></a></div></div></div></div><div id='412515056685431064-imageContainer3' style='float:left;width:19.95%;margin:0;'><div id='412515056685431064-insideImageContainer3' style='position:relative;margin:0px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/8923906_orig.jpeg' rel='lightbox[gallery412515056685431064]' onclick='if (!window.lightboxLoaded) return false'><img src='/uploads/2/7/0/2/27022422/8923906.jpeg' class='galleryImage' _width='275' _height='183' style='position:absolute;border:0;width:112.7%;top:0%;left:-6.35%' /></a></div></div></div></div><div id='412515056685431064-imageContainer4' style='float:left;width:19.95%;margin:0;'><div id='412515056685431064-insideImageContainer4' style='position:relative;margin:0px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/6696792_orig.jpeg' rel='lightbox[gallery412515056685431064]' onclick='if (!window.lightboxLoaded) return false'><img src='/uploads/2/7/0/2/27022422/6696792.jpeg' class='galleryImage' _width='275' _height='183' style='position:absolute;border:0;width:112.7%;top:0%;left:-6.35%' /></a></div></div></div></div><span style='display: block; clear: both; height: 0px; overflow: hidden;'></span>
</div>

				<div style="height: 0px; overflow: hidden;"></div></div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<span class='imgPusher' style='float:left;height:0px'></span><span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'><a><img src="/uploads/2/7/0/2/27022422/9595438.jpeg?201" style="margin-top: 15px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder wsite-image" /></a><span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span></span>
<div class="paragraph" style="text-align:left;display:block;"><strong>I Love Bella Flora!</strong><br />Amanda, 26<br />San Francisco, CA<br />Posted 3/12/14<br /><font color="#e05c5c"><strong style="">&#9733;</strong><strong style="">&#9733;</strong><strong style="">&#9733;</strong><strong style="">&#9733;</strong></font><strong style=""><font color="#e05c5c">&#9733;</font></strong><br />I came to Mark and Dino with just a rough idea of how I wanted my flowers to turn out, I had a small budget and had been mocked by a lot of other florists for what I wanted. Mark welcomed me into their studio and listened to all my ideas and didn't try to change my mind or discourage my vision - I didn't want a single rose and wanted the arrangements to look like wildflowers.<br /><br />Bella Flora is amazing, they were so helpful, accommodating and friendly. They were the best decision I made and would do so again in a heartbeat. So happy to have found them! Highly recommend!</div>
<hr style="width:100%;clear:both;visibility:hidden;"></hr>

<div><div style="height: 0px; overflow: hidden;"></div>
				<div id='431711806404738240-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
<div id='431711806404738240-imageContainer0' style='float:left;width:19.95%;margin:0;'><div id='431711806404738240-insideImageContainer0' style='position:relative;margin:0px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/9361646_orig.jpeg' rel='lightbox[gallery431711806404738240]' onclick='if (!window.lightboxLoaded) return false'><img src='/uploads/2/7/0/2/27022422/9361646.jpeg' class='galleryImage' _width='244' _height='207' style='position:absolute;border:0;width:100%;top:-6.56%;left:0%' /></a></div></div></div></div><div id='431711806404738240-imageContainer1' style='float:left;width:19.95%;margin:0;'><div id='431711806404738240-insideImageContainer1' style='position:relative;margin:0px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/5261835_orig.jpeg' rel='lightbox[gallery431711806404738240]' onclick='if (!window.lightboxLoaded) return false'><img src='/uploads/2/7/0/2/27022422/5261835.jpeg' class='galleryImage' _width='275' _height='183' style='position:absolute;border:0;width:112.7%;top:0%;left:-6.35%' /></a></div></div></div></div><div id='431711806404738240-imageContainer2' style='float:left;width:19.95%;margin:0;'><div id='431711806404738240-insideImageContainer2' style='position:relative;margin:0px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/9439262_orig.jpeg' rel='lightbox[gallery431711806404738240]' onclick='if (!window.lightboxLoaded) return false'><img src='/uploads/2/7/0/2/27022422/9439262.jpeg' class='galleryImage' _width='275' _height='183' style='position:absolute;border:0;width:112.7%;top:0%;left:-6.35%' /></a></div></div></div></div><div id='431711806404738240-imageContainer3' style='float:left;width:19.95%;margin:0;'><div id='431711806404738240-insideImageContainer3' style='position:relative;margin:0px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/4690477_orig.jpeg' rel='lightbox[gallery431711806404738240]' onclick='if (!window.lightboxLoaded) return false'><img src='/uploads/2/7/0/2/27022422/4690477.jpeg' class='galleryImage' _width='200' _height='251' style='position:absolute;border:0;width:100%;top:-33.67%;left:0%' /></a></div></div></div></div><div id='431711806404738240-imageContainer4' style='float:left;width:19.95%;margin:0;'><div id='431711806404738240-insideImageContainer4' style='position:relative;margin:0px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/295932_orig.jpeg' rel='lightbox[gallery431711806404738240]' onclick='if (!window.lightboxLoaded) return false'><img src='/uploads/2/7/0/2/27022422/295932.jpeg' class='galleryImage' _width='260' _height='194' style='position:absolute;border:0;width:100.52%;top:0%;left:-0.26%' /></a></div></div></div></div><span style='display: block; clear: both; height: 0px; overflow: hidden;'></span>
</div>

				<div style="height: 0px; overflow: hidden;"></div></div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<div style="text-align:left;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-normal" href="http://rose-bid.weebly.com/view-quotes.html" >
<span class="wsite-button-inner">Return to View Quotes</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div></div>







			</div>

<!-- END YIELD -->

			<div id="content-bottom-padding"></div>
        </div><!-- end container -->
    </div><!-- end main-wrap -->

    
<!-- END YIELD -->
<div style='padding: 20px; width:100%; text-align:center;'>Home | Content | About Us</div>

</body>