<body class='sel-page  wsite-theme-light'>

<!-- START Navbar-->
	<%= render file: "/layouts/_navbar.html.erb" %>
<!-- END Navbar-->

<!-- START YIELD -->      
	<div class="wsite-backgroundpreload">  
	<div class="banner-wrap wsite-background2">
		<div id="banner">
			<!-- Modified <h2>{headline:text global="false"}</h2> 
				 <p>{headline-paragraph:text global="false"}</p>
				 <div class="button-wrap">{loginaction:button global="false"}</div> -->
			<div id="home-page-enter-border">
				<div id="home-page-enter">	
					<div class="pgtitle"><h2>Wedding Events</h2></div>
					<p>Pick an event you need flowers for and start building your style profile.</p>
				</div>
			</div>
			
			<div class="home-page-enter-border" id="rehearsalsel">
				<div id="home-page-enter" style="text-transform:none">	
					<div class="pgtitle"><h2>Rehearsal Dinner</h2><div class="fancy-font-header"><h2>Style</h2></div></div>
					<p>Discover Your Rehearsal Dinner Style</p>
					<div class="startbox">
						<div style="height: 20px; overflow: hidden; width: 100%;"></div>
						<a class="wsite-button wsite-button-large wsite-button-normal" href="pictures.html" >
							<span class="wsite-button-inner">Let's Get Started</span>
						</a>
						<div style="height: 40px; overflow: hidden; width: 100%;"></div>
					</div>
				</div>
			</div>
			
			<div class="home-page-enter-bordermul" id="ceremonysel">
				<div id="home-page-enter">	
					<div class="pgtitle"><h2>Ceremony</h2><div class="fancy-font-header"><h2>Style</h2></div></div>
					<p>Discover Your Wedding Ceremony Style</p>
					<div class="startbox">
						<div style="height: 20px; overflow: hidden; width: 100%;"></div>
						<a class="wsite-button wsite-button-large wsite-button-normal" href="pictures.html" >
							<span class="wsite-button-inner">Let's Get Started</span>
						</a>
						<div style="height: 40px; overflow: hidden; width: 100%;"></div>
					</div>
				</div>
			</div>
			
			<div class="home-page-enter-bordermul" id="receptionsel">
				<div id="home-page-enter">	
					<div class="pgtitle"><h2>Reception</h2><div class="fancy-font-header"><h2>Style</h2></div></div>
					<p>Discover Your Reception Style</p>
					<div class="startbox">
						<div style="height: 20px; overflow: hidden; width: 100%;"></div>
						<a class="wsite-button wsite-button-large wsite-button-normal" href="pictures.html" >
							<span class="wsite-button-inner">Let's Get Started</span>
						</a>
						<div style="height: 40px; overflow: hidden; width: 100%;"></div>
					</div>
				</div>
			</div>
			
			<div class="home-page-enter-bordermul" id="brunchsel">
				<div id="home-page-enter">	
					<div class="pgtitle"><h2>Next Day Brunch</h2><div class="fancy-font-header"><h2>Style</h2></div></div>
					<p>Discover Your Next Day Brunch Style</p>
					<div class="startbox">
						<div style="height: 20px; overflow: hidden; width: 100%;"></div>
						<a class="wsite-button wsite-button-large wsite-button-normal" href="pictures.html" >
							<span class="wsite-button-inner">Let's Get Started</span>
						</a>
						<div style="height: 40px; overflow: hidden; width: 100%;"></div>
					</div>
				</div>
			</div>
			
			
		
		</div>
	</div>
	</div>

<!-- END YIELD -->


<script type="text/javascript" src="../Migration/js/custom.js"></script>
<script type="text/javascript" src="../Migration/js/custom-added.js"></script>
<script type="text/javascript" src="../Migration/js/raphael.js"></script>
<script type="text/javascript" src="../Migration/js/jquery.usmap.js"></script>
<script type="text/javascript" src="../Migration/js/color.jquery.js"></script>
<script type="text/javascript" src="../Migration/js/d3.js"></script>
<script type="text/javascript" src="../Migration/js/uikit.min.js"></script>

<div style='padding: 20px; width:100%; text-align:center;'>{footer}</div>
<div style='display:none'>{title}</div>
<div style='display:none'>{content}</div>
<div style='display:none'>{menu}</div>
</body>