<body class='short-header-page  wsite-theme-light'>


<!-- START Navbar-->
	<%= render file: "/layouts/_navbar.html.erb" %>
<!-- END Navbar-->
       
	<div class="banner-wrap wsite-background">
		<div id="banner">
			<!-- Modified <h2>{headline:text global="false"}</h2> 
				 <p>{headline-paragraph:text global="false"}</p>
				 <div class="button-wrap">{loginaction:button global="false"}</div> -->
			<div id="home-page-enter-border">

				<div id="home-page-enter">	
				</div>
			</div>
			
		</div>
	</div>

    <div id="main-wrap">
        <div class="container">
			<!--<div class="colorblocklight">
				<div>
					<div style="height: 20px; overflow: hidden; width: 100%;"></div>
					<hr class="styled-hr" style="width:100%;">
					<div style="height: 10px; overflow: hidden; width: 100%;"></div>
				</div>
				<a name="locations" id="skip-to-content-1" class="skip-to-content-dark" href="#locations"></a>	
			</div>
			
			<div class="colorblockdark-map">
				<a name="reviews" id="skip-to-content-2" class="skip-to-content-dark" href="#reviews"></a>
			</div>-->


<!-- START YIELD -->

			<div class="colorblocklight">

				
			
<div id='wsite-content' class='wsite-elements wsite-not-footer'>
<h2 class="wsite-content-title" style="text-align:left;">Finalize your Details</h2>			

					<div>
						<div style="height: 20px; overflow: hidden; width: 100%;"></div>
						<hr class="styled-hr" style="width:100%;">
						<div style="height: 10px; overflow: hidden; width: 100%;"></div>
					</div>
			



<div><div id="931841366569336614" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><p>
<form>Your Name: <input type="text" class="pull-right" style="margin-right: 55%; " ></form>
</p>
<p>
<form>Your Phone Number: <input type="text" class="pull-right" style="margin-right: 55%"></form>
</p>
<p><form action="demo_form.asp">
Event Date: <input type="date" name="bday" class="pull-right" style="margin-right: 55%">
</form>
</p>
<p>
<form>Venue Name: <input type="text" class="pull-right" style="margin-right: 55%"></form>
</p><p>
<form>Venue City: <input type="text" class="pull-right" style="margin-right: 55%"></form>
</p><p>
<form>Venue State: <input type="text" class="pull-right" style="margin-right: 55%"></form>
</p><p>
<form>Wedding Pinterest Board (Optional): <input type="text" class="pull-right" style="margin-right: 55%"></form>
</p><p>
<form action="demo_form.asp" method="get">

Budget (Optional): <form style="position: relative; left: 100px">$0<input type="range" name="points" min="1" max="20000">$20,000
</form></form>
</p><p>
<form action="demo_form.asp">
Stop accepting new bids on: <input type="date" name="bday" class="pull-right" style="margin-right: 55%">
</form>
</p></div>



</div>

<div class="paragraph" style="text-align:left;">Once you hit "Submit", below, we will send your information to amazing florists in your area. Before we do that, is there anything else you want them to know? For example, special requests, delivery needs, and so on?</div>

<div><div id="794198440565571269" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><form method=post action=test.asp> 
<textarea rows=4 cols=50 name=content></textarea> 
</form></div>



</div>

<div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
<table class='wsite-multicol-table'>
<tbody class='wsite-multicol-tbody'>
<tr class='wsite-multicol-tr'>
<td class='wsite-multicol-col' style='width:50%;padding:0 15px'>

<div style="text-align:left;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-normal" href="products.html" >
<span class="wsite-button-inner">Back</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>

</td>
<td class='wsite-multicol-col' style='width:50%;padding:0 15px'>

<div style="text-align:right;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-normal" href="confirmation.html" >
<span class="wsite-button-inner">Submit</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>

</td>
</tr>
</tbody>
</table>
</div></div></div></div>




			</div>

<!-- END YIELD -->

			<div id="content-bottom-padding"></div>
        </div><!-- end container -->
    </div><!-- end main-wrap -->

    
<!-- END YIELD -->

<div style='padding: 20px; width:100%; text-align:center;'>Home | Content | About Us</div>

</body>