<% provide(:title, 'Profile') %>
<body class='short-header-page  wsite-theme-light'>


<!-- START Navbar-->
	<%= render file: "/layouts/_navbar.html.erb" %>
<!-- END Navbar-->
       
	<div class="banner-wrap wsite-background">
		<div id="banner">
			<!-- Modified <h2>{headline:text global="false"}</h2> 
				 <p>{headline-paragraph:text global="false"}</p>
				 <div class="button-wrap">{loginaction:button global="false"}</div> -->
			<div id="home-page-enter-border">
				<div id="home-page-enter"></div>
			</div>
		</div>
	</div>

    <div id="main-wrap">
        <div class="container">
			<!--<div class="colorblocklight">
				<div>
					<div style="height: 20px; overflow: hidden; width: 100%;"></div>
					<hr class="styled-hr" style="width:100%;">
					<div style="height: 10px; overflow: hidden; width: 100%;"></div>
				</div>
				<a name="locations" id="skip-to-content-1" class="skip-to-content-dark" href="#locations"></a>	
			</div>
			
			<div class="colorblockdark-map">
				<a name="reviews" id="skip-to-content-2" class="skip-to-content-dark" href="#reviews"></a>
			</div>-->

<!-- START YIELD -->

			<div class="colorblocklight">
				<div id='wsite-content' class='wsite-elements wsite-not-footer'>
					<h2 class="wsite-content-title" style="text-align:center;">Your Style Profile</h2>			

				<div class="pull-right">
					<a class="wsite-button wsite-button-small wsite-button-normal" href="javascript:window.confirm('Your Profile Has Been Saved!');" >
					<span class="wsite-button-inner">Save Profile</span>
					</a>
				</div>
					<div>
						<div style="height: 20px; overflow: hidden; width: 100%;"></div>
						<hr class="styled-hr" style="width:100%;">
						<div style="height: 10px; overflow: hidden; width: 100%;"></div>
					</div>
	
				<div>		
				{INSERT STYLE PROFILE RESULTS}
				</div>

				<hr>

				<div>
					{Customization Section - Describe style, drag photos, link to Pinterest board(s)}
				</div>

				<hr>

				<div class="pull-right">
					<a class="wsite-button wsite-button-small wsite-button-normal" href="javascript:window.confirm('Your Profile Has Been Saved!');" >
					<span class="wsite-button-inner">Save Profile</span>
					</a>
				</div><br><br>
				<div class="pull-right">
					<a class="wsite-button wsite-button-small wsite-button-normal" href="products.html" >
					<span class="wsite-button-inner">Save and Go To Flowers</span>
				</a>
				</div>
			</div>

<!-- END YIELD -->

			<div id="content-bottom-padding"></div>
        </div><!-- end container -->
    </div><!-- end main-wrap -->

    
<!-- END YIELD -->


<script type="text/javascript" src="../Migration/js/custom.js"></script>
<script type="text/javascript" src="../Migration/js/custom-added.js"></script>
<script type="text/javascript" src="../Migration/js/raphael.js"></script>
<script type="text/javascript" src="../Migration/js/jquery.usmap.js"></script>
<script type="text/javascript" src="../Migration/js/color.jquery.js"></script>
<script type="text/javascript" src="../Migration/js/d3.js"></script>
<script type="text/javascript" src="../Migration/js/uikit.min.js"></script>

<div style='padding: 20px; width:100%; text-align:center;'>Home | Content | About Us</div>

</body>