<% provide(:title, 'Style Summary') %>
<body class='short-header-page  wsite-theme-light wsite-page-style-summary'>

<!-- START Navbar-->
	<%= render file: "/layouts/_navbar.html.erb" %>
<!-- END Navbar-->

<!-- START Shortbanner-->
	<%= render file: "/layouts/_shortbanner.html.erb" %>
<!-- END Shortbanner-->

<div id="main-wrap">
    <div class="container">
			<!--<div class="colorblocklight">
				<div>
					<div style="height: 20px; overflow: hidden; width: 100%;"></div>
					<hr class="styled-hr" style="width:100%;">
					<div style="height: 10px; overflow: hidden; width: 100%;"></div>
				</div>
				<a name="locations" id="skip-to-content-1" class="skip-to-content-dark" href="#locations"></a>	
			</div>
			
			<div class="colorblockdark-map">
				<a name="reviews" id="skip-to-content-2" class="skip-to-content-dark" href="#reviews"></a>
			</div>-->
				
<div id='wsite-content' class='wsite-elements wsite-not-footer'>
<h2 class="wsite-content-title" style="text-align:left;">Your Style:</h2>

<div class="paragraph" style="text-align:left;">You told us what you like, we listened.&nbsp;</div>

<div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
<table class='wsite-multicol-table'>
<tbody class='wsite-multicol-tbody'>
<tr class='wsite-multicol-tr'>
<td class='wsite-multicol-col' style='width:50%;padding:0 15px'>

<h2 class="wsite-content-title" style="text-align:left;"><font size="6">IN pictures:</font><span style="line-height: 0; display: none;">&#65279;</span></h2>

</td>
<td class='wsite-multicol-col' style='width:50%;padding:0 15px'>

<div style="text-align:right;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-normal" href="javascript:;" >
<span class="wsite-button-inner">Return to Style Finder</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>

</td>
</tr>
</tbody>
</table>
</div></div></div>

<div class="paragraph" style="text-align:left;">Your favorite pictures from our style editor: &nbsp;(this could have horizontal scroll to the right/left, like a carousel)</div>

<div><div style="height: 20px; overflow: hidden;"></div>
				
<div id='394556354944157253-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>

<div id='394556354944157253-imageContainer0' style='float:left;width:19.95%;margin:0;'><div id='394556354944157253-insideImageContainer0' style='position:relative;margin:5px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/6032487_orig.jpeg' rel='lightbox[gallery394556354944157253]' onclick='if (!window.lightboxLoaded) return false'>

<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/6032487.jpeg' class='galleryImage' _width='225' _height='225' style='position:absolute;border:0;width:100%;top:-16.67%;left:0%' /></a></div></div></div></div><div id='394556354944157253-imageContainer1' style='float:left;width:19.95%;margin:0;'><div id='394556354944157253-insideImageContainer1' style='position:relative;margin:5px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/1703922_orig.jpeg' rel='lightbox[gallery394556354944157253]' onclick='if (!window.lightboxLoaded) return false'>

<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/1703922.jpeg' class='galleryImage' _width='225' _height='225' style='position:absolute;border:0;width:100%;top:-16.67%;left:0%' /></a></div></div></div></div><div id='394556354944157253-imageContainer2' style='float:left;width:19.95%;margin:0;'><div id='394556354944157253-insideImageContainer2' style='position:relative;margin:5px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/5153501_orig.jpeg' rel='lightbox[gallery394556354944157253]' onclick='if (!window.lightboxLoaded) return false'>

<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/5153501.jpeg' class='galleryImage' _width='183' _height='276' style='position:absolute;border:0;width:100%;top:-50.55%;left:0%' /></a></div></div></div></div><div id='394556354944157253-imageContainer3' style='float:left;width:19.95%;margin:0;'><div id='394556354944157253-insideImageContainer3' style='position:relative;margin:5px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/7654815_orig.jpeg' rel='lightbox[gallery394556354944157253]' onclick='if (!window.lightboxLoaded) return false'>

<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/7654815.jpeg' class='galleryImage' _width='275' _height='183' style='position:absolute;border:0;width:112.7%;top:0%;left:-6.35%' /></a></div></div></div></div><div id='394556354944157253-imageContainer4' style='float:left;width:19.95%;margin:0;'><div id='394556354944157253-insideImageContainer4' style='position:relative;margin:5px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/6210691_orig.jpeg' rel='lightbox[gallery394556354944157253]' onclick='if (!window.lightboxLoaded) return false'>

<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/6210691.jpeg' class='galleryImage' _width='275' _height='183' style='position:absolute;border:0;width:112.7%;top:0%;left:-6.35%' /></a></div></div></div></div><div id='394556354944157253-imageContainer5' style='float:left;width:19.95%;margin:0;'><div id='394556354944157253-insideImageContainer5' style='position:relative;margin:5px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/9018773_orig.jpeg' rel='lightbox[gallery394556354944157253]' onclick='if (!window.lightboxLoaded) return false'>

<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/9018773.jpeg' class='galleryImage' _width='244' _height='207' style='position:absolute;border:0;width:100%;top:-6.56%;left:0%' /></a></div></div></div></div><div id='394556354944157253-imageContainer6' style='float:left;width:19.95%;margin:0;'><div id='394556354944157253-insideImageContainer6' style='position:relative;margin:5px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/569669_orig.jpeg' rel='lightbox[gallery394556354944157253]' onclick='if (!window.lightboxLoaded) return false'>

<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/569669.jpeg' class='galleryImage' _width='275' _height='183' style='position:absolute;border:0;width:112.7%;top:0%;left:-6.35%' /></a></div></div></div></div><div id='394556354944157253-imageContainer7' style='float:left;width:19.95%;margin:0;'><div id='394556354944157253-insideImageContainer7' style='position:relative;margin:5px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/1009138_orig.jpeg' rel='lightbox[gallery394556354944157253]' onclick='if (!window.lightboxLoaded) return false'>

<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/1009138.jpeg' class='galleryImage' _width='275' _height='183' style='position:absolute;border:0;width:112.7%;top:0%;left:-6.35%' /></a></div></div></div></div><div id='394556354944157253-imageContainer8' style='float:left;width:19.95%;margin:0;'><div id='394556354944157253-insideImageContainer8' style='position:relative;margin:5px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/8780236_orig.jpeg' rel='lightbox[gallery394556354944157253]' onclick='if (!window.lightboxLoaded) return false'>

<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/8780236.jpeg' class='galleryImage' _width='200' _height='251' style='position:absolute;border:0;width:100%;top:-33.67%;left:0%' /></a></div></div></div></div><div id='394556354944157253-imageContainer9' style='float:left;width:19.95%;margin:0;'><div id='394556354944157253-insideImageContainer9' style='position:relative;margin:5px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/1102555_orig.jpeg' rel='lightbox[gallery394556354944157253]' onclick='if (!window.lightboxLoaded) return false'>

<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/1102555.jpeg' class='galleryImage' _width='260' _height='194' style='position:absolute;border:0;width:100.52%;top:0%;left:-0.26%' /></a></div></div></div></div><span style='display: block; clear: both; height: 0px; overflow: hidden;'></span>
</div>

				<div style="height: 20px; overflow: hidden;"></div></div>

<div class="paragraph" style="text-align:left;">Do you have a pinterest inspiration page? URL:&nbsp;</div>

<div class="paragraph" style="text-align:left;">Drag and Drop other pics that inspire you here:&nbsp;</div>

<div><div style="height: 20px; overflow: hidden;"></div>
				<div id='833041904350077343-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
<div id='833041904350077343-imageContainer0' style='float:left;width:19.95%;margin:0;'><div id='833041904350077343-insideImageContainer0' style='position:relative;margin:5px;'><div class='galleryImageBorder' style='border-width:1px;padding:1px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/8372034_orig.jpeg' rel='lightbox[gallery833041904350077343]' onclick='if (!window.lightboxLoaded) return false'>

	<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/8372034.jpeg' class='galleryImage' _width='259' _height='194' style='position:absolute;border:0;width:100.13%;top:0%;left:-0.06%' /></a></div></div></div></div></div><div id='833041904350077343-imageContainer1' style='float:left;width:19.95%;margin:0;'><div id='833041904350077343-insideImageContainer1' style='position:relative;margin:5px;'><div class='galleryImageBorder' style='border-width:1px;padding:1px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/8503013_orig.jpeg' rel='lightbox[gallery833041904350077343]' onclick='if (!window.lightboxLoaded) return false'>

<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/8503013.jpeg' class='galleryImage' _width='259' _height='194' style='position:absolute;border:0;width:100.13%;top:0%;left:-0.06%' /></a></div></div></div></div></div><div id='833041904350077343-imageContainer2' style='float:left;width:19.95%;margin:0;'><div id='833041904350077343-insideImageContainer2' style='position:relative;margin:5px;'><div class='galleryImageBorder' style='border-width:1px;padding:1px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/7048897_orig.jpeg' rel='lightbox[gallery833041904350077343]' onclick='if (!window.lightboxLoaded) return false'>

<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/7048897.jpeg' class='galleryImage' _width='259' _height='194' style='position:absolute;border:0;width:100.13%;top:0%;left:-0.06%' /></a></div></div></div></div></div><div id='833041904350077343-imageContainer3' style='float:left;width:19.95%;margin:0;'><div id='833041904350077343-insideImageContainer3' style='position:relative;margin:5px;'><div class='galleryImageBorder' style='border-width:1px;padding:1px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/4882981_orig.jpeg' rel='lightbox[gallery833041904350077343]' onclick='if (!window.lightboxLoaded) return false'>

<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/4882981.jpeg' class='galleryImage' _width='259' _height='194' style='position:absolute;border:0;width:100.13%;top:0%;left:-0.06%' /></a></div></div></div></div></div><div id='833041904350077343-imageContainer4' style='float:left;width:19.95%;margin:0;'><div id='833041904350077343-insideImageContainer4' style='position:relative;margin:5px;'><div class='galleryImageBorder' style='border-width:1px;padding:1px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/1206805_orig.jpeg' rel='lightbox[gallery833041904350077343]' onclick='if (!window.lightboxLoaded) return false'>

<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/1206805.jpeg' class='galleryImage' _width='259' _height='194' style='position:absolute;border:0;width:100.13%;top:0%;left:-0.06%' /></a></div></div></div></div></div><span style='display: block; clear: both; height: 0px; overflow: hidden;'></span>
</div>

				<div style="height: 20px; overflow: hidden;"></div></div>

<h2 class="wsite-content-title" style="text-align:left;"><font size="6">IN words:&nbsp;</font></h2>

<div class="paragraph" style="text-align:left;">How we describe your style:&nbsp;</div>

<div><div style="height: 20px; overflow: hidden;"></div>
				<div id='916342392775448484-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
<div id='916342392775448484-imageContainer0' style='float:left;width:16.62%;margin:0;'><div id='916342392775448484-insideImageContainer0' style='position:relative;margin:5px;'><div class='galleryImageBorder' style='border-width:1px;padding:3px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/3055030_orig.png' rel='lightbox[gallery916342392775448484]' onclick='if (!window.lightboxLoaded) return false'>

<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/3055030.png' class='galleryImage' _width='400' _height='152' style='position:absolute;border:0;width:197.37%;top:0%;left:-48.68%' /></a></div></div></div></div></div><div id='916342392775448484-imageContainer1' style='float:left;width:16.62%;margin:0;'><div id='916342392775448484-insideImageContainer1' style='position:relative;margin:5px;'><div class='galleryImageBorder' style='border-width:1px;padding:3px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/3976542_orig.png' rel='lightbox[gallery916342392775448484]' onclick='if (!window.lightboxLoaded) return false'>

<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/3976542.png' class='galleryImage' _width='400' _height='153' style='position:absolute;border:0;width:196.08%;top:0%;left:-48.04%' /></a></div></div></div></div></div><div id='916342392775448484-imageContainer2' style='float:left;width:16.62%;margin:0;'><div id='916342392775448484-insideImageContainer2' style='position:relative;margin:5px;'><div class='galleryImageBorder' style='border-width:1px;padding:3px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/946803_orig.png' rel='lightbox[gallery916342392775448484]' onclick='if (!window.lightboxLoaded) return false'>

<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/946803.png' class='galleryImage' _width='400' _height='152' style='position:absolute;border:0;width:197.37%;top:0%;left:-48.68%' /></a></div></div></div></div></div><span style='display: block; clear: both; height: 0px; overflow: hidden;'></span>
</div>

				<div style="height: 20px; overflow: hidden;"></div></div>

<div class="paragraph" style="text-align:left;">Add words? ___________</div>

<h2 class="wsite-content-title" style="text-align:left;"><font size="6">In colors:&nbsp;</font></h2>

<div class="paragraph" style="text-align:left;">Pick your color palette: (note: I don't think this looks good, maybe we want it to be a pop up color wheel and when you choose your color, a rectangular color block fills the space?)</div>

<div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
<table class='wsite-multicol-table'>
<tbody class='wsite-multicol-tbody'>
<tr class='wsite-multicol-tr'>
<td class='wsite-multicol-col' style='width:33.333333333333%;padding:0 15px'>

<div class="paragraph" style="text-align:left;">Primary Color</div>

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a>

<img src="http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/589305_orig.png" alt="Picture" style="width:100%;max-width:256px" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

</td>
<td class='wsite-multicol-col' style='width:33.333333333333%;padding:0 15px'>

<div class="paragraph" style="text-align:left;">Secondary Color</div>

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a>

<img src="http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/743027_orig.png" alt="Picture" style="width:100%;max-width:256px" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

</td>
<td class='wsite-multicol-col' style='width:33.333333333333%;padding:0 15px'>

<div class="paragraph" style="text-align:left;">Tertiary Color:&nbsp;</div>

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a>

<img src="http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/6097816_orig.png" alt="Picture" style="width:100%;max-width:256px" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

</td>
</tr>
</tbody>
</table>
</div></div></div>

<div class="paragraph" style="text-align:left;">Or pick one of our professionally selected color palettes:&nbsp;</div>

<div><div style="height: 20px; overflow: hidden;"></div>
				<div id='672756753473097795-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
<div id='672756753473097795-imageContainer0' style='float:left;width:19.95%;margin:0;'><div id='672756753473097795-insideImageContainer0' style='position:relative;margin:5px;'><div class='galleryImageBorder' style='border-width:1px;padding:1px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/84153_orig.png' rel='lightbox[gallery672756753473097795]' onclick='if (!window.lightboxLoaded) return false'>

	<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/84153.png' class='galleryImage' _width='400' _height='310' style='position:absolute;border:0;width:100%;top:-1.67%;left:0%' /></a></div></div></div></div></div><div id='672756753473097795-imageContainer1' style='float:left;width:19.95%;margin:0;'><div id='672756753473097795-insideImageContainer1' style='position:relative;margin:5px;'><div class='galleryImageBorder' style='border-width:1px;padding:1px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/3471798_orig.png' rel='lightbox[gallery672756753473097795]' onclick='if (!window.lightboxLoaded) return false'>
	
	<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/3471798.png' class='galleryImage' _width='400' _height='310' style='position:absolute;border:0;width:100%;top:-1.67%;left:0%' /></a></div></div></div></div></div><div id='672756753473097795-imageContainer2' style='float:left;width:19.95%;margin:0;'><div id='672756753473097795-insideImageContainer2' style='position:relative;margin:5px;'><div class='galleryImageBorder' style='border-width:1px;padding:1px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/7464229_orig.png' rel='lightbox[gallery672756753473097795]' onclick='if (!window.lightboxLoaded) return false'>
	
	<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/7464229.png' class='galleryImage' _width='400' _height='310' style='position:absolute;border:0;width:100%;top:-1.67%;left:0%' /></a></div></div></div></div></div><div id='672756753473097795-imageContainer3' style='float:left;width:19.95%;margin:0;'><div id='672756753473097795-insideImageContainer3' style='position:relative;margin:5px;'><div class='galleryImageBorder' style='border-width:1px;padding:1px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/4331851_orig.png' rel='lightbox[gallery672756753473097795]' onclick='if (!window.lightboxLoaded) return false'>
	
	<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/4331851.png' class='galleryImage' _width='400' _height='310' style='position:absolute;border:0;width:100%;top:-1.67%;left:0%' /></a></div></div></div></div></div><div id='672756753473097795-imageContainer4' style='float:left;width:19.95%;margin:0;'><div id='672756753473097795-insideImageContainer4' style='position:relative;margin:5px;'><div class='galleryImageBorder' style='border-width:1px;padding:1px;'><div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'><div class='galleryInnerImageHolder'><a href='/uploads/2/7/0/2/27022422/7749346_orig.png' rel='lightbox[gallery672756753473097795]' onclick='if (!window.lightboxLoaded) return false'>

	<img src='http://rose-bid.weebly.com/uploads/2/7/0/2/27022422/7749346.png' class='galleryImage' _width='400' _height='310' style='position:absolute;border:0;width:100%;top:-1.67%;left:0%' /></a></div></div></div></div></div><span style='display: block; clear: both; height: 0px; overflow: hidden;'></span>
</div>

				<div style="height: 20px; overflow: hidden;"></div></div></div>

					<div>
						<div style="height: 20px; overflow: hidden; width: 100%;"></div>
						<hr class="styled-hr" style="width:100%;">
						<div style="height: 10px; overflow: hidden; width: 100%;"></div>
					</div>
				
			</div>
			<div id="content-bottom-padding"></div>
        </div><!-- end container -->
    </div><!-- end main-wrap -->