<body class='short-header-page  wsite-theme-light'>

<!-- START Navbar-->
	<%= render file: "/layouts/_navbar.html.erb" %>
<!-- END Navbar-->
       
	<div class="banner-wrap wsite-background">
		<div id="banner">
			<!-- Modified <h2>{headline:text global="false"}</h2> 
				 <p>{headline-paragraph:text global="false"}</p>
				 <div class="button-wrap">{loginaction:button global="false"}</div> -->
			<div id="home-page-enter-border">

				<div id="home-page-enter">	
				</div>
			</div>
			
		</div>
	</div>

    <div id="main-wrap">
        <div class="container">
			<!--<div class="colorblocklight">
				<div>
					<div style="height: 20px; overflow: hidden; width: 100%;"></div>
					<hr class="styled-hr" style="width:100%;">
					<div style="height: 10px; overflow: hidden; width: 100%;"></div>
				</div>
				<a name="locations" id="skip-to-content-1" class="skip-to-content-dark" href="#locations"></a>	
			</div>
			
			<div class="colorblockdark-map">
				<a name="reviews" id="skip-to-content-2" class="skip-to-content-dark" href="#reviews"></a>
			</div>-->


<!-- START YIELD -->

			<div class="colorblocklight">

				
			
<div id='wsite-content' class='wsite-elements wsite-not-footer'>
<h2 class="wsite-content-title" style="text-align:center;">Caroline, You've Received <span style="display: none;">&#65279;</span><font color="#da4444">2</font><span style="display: none;">&#65279;</span> Quotes from&nbsp;<br />Amazing Florists</h2>
			

					<div>
						<div style="height: 20px; overflow: hidden; width: 100%;"></div>
						<hr class="styled-hr" style="width:100%;">
						<div style="height: 10px; overflow: hidden; width: 100%;"></div>
					</div>
			

<div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -0px'>
<table class='wsite-multicol-table'>
<tbody class='wsite-multicol-tbody'>
<tr class='wsite-multicol-tr'>
<td class='wsite-multicol-col' style='width:50%;padding:0 0px'>

<div class="paragraph" style="text-align:left;"># of Results per Page:<br /></div>

</td>
<td class='wsite-multicol-col' style='width:50%;padding:0 0px'>

<div class="paragraph" style="text-align:right;">Sort Results By:&nbsp;</div>

</td>
</tr>
</tbody>
</table>
</div></div></div>

<div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
<table class='wsite-multicol-table'>
<tbody class='wsite-multicol-tbody'>
<tr class='wsite-multicol-tr'>
<td class='wsite-multicol-col' style='width:46.520146520147%;padding:0 15px'>

<div><div id="250720024606868447" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><div>&nbsp;<select>
  <option value="volvo">5</option>
  <option value="saab">10</option>
  <option value="mercedes">15</option>
  <option value="audi">All</option>
</select></div></div>



</div>

</td>
<td class='wsite-multicol-col' style='width:14.469868948845%;padding:0 15px'></td>
<td class='wsite-multicol-col' style='width:39.009984531008%;padding:0 15px'>

<div><div id="983690757803324151" align="right" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><select>
  <option value="volvo">Relevance</option>
  <option value="saab">Price</option>
  <option value="mercedes">Date Quote Received</option>
  </select></div>



</div>

</td>
</tr>
</tbody>
</table>
</div></div></div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
<table class='wsite-multicol-table'>
<tbody class='wsite-multicol-tbody'>
<tr class='wsite-multicol-tr'>
<td class='wsite-multicol-col' style='width:68.359020852221%;padding:0 15px'>

<span class='imgPusher' style='float:left;height:0px'></span><span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'><a><img src="/uploads/2/7/0/2/27022422/5195887.jpeg?152" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder wsite-image" /></a><span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span></span>
<div class="paragraph" style="text-align:left;display:block;"><strong>Bella Flora&nbsp;</strong><br />1475 Polk St. Suite 7 San Francisco, CA<br />(415) 441-5390<br /><a href="http://www.bellafiora.com" title="">www.bellaflora.com</a><br /><font color="#e05c5c"><strong style="">&#9733;</strong><strong style="">&#9733;</strong><strong style="">&#9733;</strong><strong style="">&#9733;</strong></font><strong style=""><font color="#e05c5c">&#9733;</font></strong><br />Whether classic elegance or playful and fun, together we'll make your wedding a beautiful reality. Endless exceptional weddings in the SF Bay Area and wine country attest to our expertise and experience. Our attention to detail, personal touch,and creating that wow factor makes your wedding unique.</div>
<hr style="width:100%;clear:both;visibility:hidden;"></hr>

</td>
<td class='wsite-multicol-col' style='width:31.640979147779%;padding:0 15px'>

<div class="paragraph" style="text-align:center;"><font size="6">$ 2,547</font></div>

<div style="text-align:center;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-normal" href="bella_flora_quote.html" >
<span class="wsite-button-inner">View Quote Details</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>

<div><div id="471106084250331318" align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><a class="wsite-button wsite-button-normal" href="#bellaflora-msg"  data-uk-modal>
							<span class="wsite-button-inner">Schedule a Visit</span>
						</a></div>



</div>

</td>
</tr>
</tbody>
</table>
</div></div></div>

<div><div style="height: 0px; overflow: hidden;"></div>
		<div id='325844373461381256-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
		<div id='325844373461381256-imageContainer0' style='float:left;width:19.95%;margin:0;'>
		<div id='325844373461381256-insideImageContainer0' style='position:relative;margin:0px;'>
		<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
		<div class='galleryInnerImageHolder'>
			<a href='/uploads/2/7/0/2/27022422/2040433_orig.jpg' rel='lightbox[gallery325844373461381256]' onclick='if (!window.lightboxLoaded) return false'>
				<img src='/uploads/2/7/0/2/27022422/2040433.jpg' class='galleryImage' _width='400' _height='598' style='position:absolute;border:0;width:100%;top:-49.67%;left:0%' />
			</a>
		</div></div></div></div>
		<div id='325844373461381256-imageContainer1' style='float:left;width:19.95%;margin:0;'>
		<div id='325844373461381256-insideImageContainer1' style='position:relative;margin:0px;'>
		<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
		<div class='galleryInnerImageHolder'>
			<a href='/uploads/2/7/0/2/27022422/5608485_orig.jpg' rel='lightbox[gallery325844373461381256]' onclick='if (!window.lightboxLoaded) return false'>
				<img src='/uploads/2/7/0/2/27022422/5608485.jpg' class='galleryImage' _width='400' _height='267' style='position:absolute;border:0;width:112.36%;top:0%;left:-6.18%' /></a>
			</div></div></div></div>
			<div id='325844373461381256-imageContainer2' style='float:left;width:19.95%;margin:0;'>
			<div id='325844373461381256-insideImageContainer2' style='position:relative;margin:0px;'>
			<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
			<div class='galleryInnerImageHolder'>
				<a href='/uploads/2/7/0/2/27022422/2275951_orig.jpg' rel='lightbox[gallery325844373461381256]' onclick='if (!window.lightboxLoaded) return false'>
					<img src='/uploads/2/7/0/2/27022422/2275951.jpg' class='galleryImage' _width='400' _height='598' style='position:absolute;border:0;width:100%;top:-49.67%;left:0%' />
				</a>
			</div></div></div></div>
			<div id='325844373461381256-imageContainer3' style='float:left;width:19.95%;margin:0;'>
			<div id='325844373461381256-insideImageContainer3' style='position:relative;margin:0px;'>
			<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
			<div class='galleryInnerImageHolder'>
				<a href='/uploads/2/7/0/2/27022422/8141445_orig.jpg' rel='lightbox[gallery325844373461381256]' onclick='if (!window.lightboxLoaded) return false'>
					<img src='/uploads/2/7/0/2/27022422/8141445.jpg' class='galleryImage' _width='400' _height='267' style='position:absolute;border:0;width:112.36%;top:0%;left:-6.18%' />
				</a>
			</div></div></div></div>
			<div id='325844373461381256-imageContainer4' style='float:left;width:19.95%;margin:0;'>
			<div id='325844373461381256-insideImageContainer4' style='position:relative;margin:0px;'>
			<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
			<div class='galleryInnerImageHolder'>
				<a href='/uploads/2/7/0/2/27022422/7101093_orig.jpg' rel='lightbox[gallery325844373461381256]' onclick='if (!window.lightboxLoaded) return false'>
					<img src='/uploads/2/7/0/2/27022422/7101093.jpg' class='galleryImage' _width='400' _height='267' style='position:absolute;border:0;width:112.36%;top:0%;left:-6.18%' />
				</a>
			</div></div></div></div>
			<span style='display: block; clear: both; height: 0px; overflow: hidden;'></span>
		</div>
			<div style="height: 0px; overflow: hidden;"></div>
	</div>

	<div style="text-align:center;">
		<div style="height: 10px; overflow: hidden;"></div>
		<a class="wsite-button wsite-button-large wsite-button-normal" href="bella_flora_details.html" >
			<span class="wsite-button-inner">Vendor Details &amp; Reviews</span>
		</a>
	<div style="height: 10px; overflow: hidden;"></div></div>

	<div class="paragraph" style="text-align:left;">&nbsp;</div>

	<div>
	<div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
	<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

	<div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
	<table class='wsite-multicol-table'>
		<tbody class='wsite-multicol-tbody'>
			<tr class='wsite-multicol-tr'>
				<td class='wsite-multicol-col' style='width:68.993653671804%;padding:0 15px'>

				<span class='imgPusher' style='float:left;height:0px'></span>
				<span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'>
				<a>
					<img src="/uploads/2/7/0/2/27022422/4247751.png?149" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder wsite-image" />
				</a>
				<span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span>
				</span>
				<div class="paragraph" style="text-align:left;display:block;">
					<strong>Fleur De Vie</strong><br />
					San Francisco Bay Area, CA<br />(650) 815-5557<br />
					<a href="http://www.florist-fdv.com" title="">www.florist-fdv.com&nbsp;</a><br />
					<font color="#e05c5c"><strong style="">&#9733;</strong><strong style="">&#9733;</strong><strong style="">&#9733;</strong><strong style="">&#9733;</strong></font><strong style=""><font color="#e05c5c">&#9733;</font></strong><br />At Fleur De Vie we focus on our brides, listen to your needs, make sure that your wedding flowers coordinate with your wedding gown, setting, and invitation, and bring your floral dreams to life.<br /></div>

<hr style="width:100%;clear:both;visibility:hidden;"></hr>

	</td>

	<td class='wsite-multicol-col' style='width:31.006346328196%;padding:0 15px'>
	<div class="paragraph" style="text-align:center;"><font size="6">$ 3,690</font>
	</div>
	
	<div style="text-align:center;">

		<div style="height: 10px; overflow: hidden;">
		</div>

		<a class="wsite-button wsite-button-small wsite-button-normal" href="bella_flora_quote.html" >
			<span class="wsite-button-inner">View QUote Details</span>
		</a>

		<div style="height: 10px; overflow: hidden;"></div>
	</div>

	<div>
		<div id="109895993655397942" align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
			<a class="wsite-button wsite-button-normal" href="#bellaflora-msg"  data-uk-modal>
				<span class="wsite-button-inner">Schedule a Visit</span>
			</a>
		</div>
	</div>

</td>
</tr>
</tbody>
</table>

</div></div></div>

<div>
	<div style="height: 0px; overflow: hidden;"></div>
		<div id='708035639944026857-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
			<div id='708035639944026857-imageContainer0' style='float:left;width:16.62%;margin:0;'>
			<div id='708035639944026857-insideImageContainer0' style='position:relative;margin:0px;'>
			<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
			<div class='galleryInnerImageHolder'>
				<a href='/uploads/2/7/0/2/27022422/3762314_orig.png' rel='lightbox[gallery708035639944026857]' onclick='if (!window.lightboxLoaded) return false'>
					<img src='/uploads/2/7/0/2/27022422/3762314.png' class='galleryImage' _width='400' _height='533' style='position:absolute;border:0;width:100%;top:-38.83%;left:0%' />
				</a>
			</div></div></div></div>
			<div id='708035639944026857-imageContainer1' style='float:left;width:16.62%;margin:0;'>
			<div id='708035639944026857-insideImageContainer1' style='position:relative;margin:0px;'>
			<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
			<div class='galleryInnerImageHolder'>
				<a href='/uploads/2/7/0/2/27022422/8060739_orig.png' rel='lightbox[gallery708035639944026857]' onclick='if (!window.lightboxLoaded) return false'>
					<img src='/uploads/2/7/0/2/27022422/8060739.png' class='galleryImage' _width='400' _height='533' style='position:absolute;border:0;width:100%;top:-38.83%;left:0%' />
				</a>
			</div></div></div></div>
			<div id='708035639944026857-imageContainer2' style='float:left;width:16.62%;margin:0;'>
			<div id='708035639944026857-insideImageContainer2' style='position:relative;margin:0px;'>
			<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
			<div class='galleryInnerImageHolder'>
				<a href='/uploads/2/7/0/2/27022422/2537331_orig.png' rel='lightbox[gallery708035639944026857]' onclick='if (!window.lightboxLoaded) return false'>
					<img src='/uploads/2/7/0/2/27022422/2537331.png' class='galleryImage' _width='400' _height='533' style='position:absolute;border:0;width:100%;top:-38.83%;left:0%' />
				</a>
			</div></div></div></div>
			<div id='708035639944026857-imageContainer3' style='float:left;width:16.62%;margin:0;'>
			<div id='708035639944026857-insideImageContainer3' style='position:relative;margin:0px;'>
			<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
			<div class='galleryInnerImageHolder'>
				<a href='/uploads/2/7/0/2/27022422/5077676_orig.png' rel='lightbox[gallery708035639944026857]' onclick='if (!window.lightboxLoaded) return false'>
				<img src='/uploads/2/7/0/2/27022422/5077676.png' class='galleryImage' _width='400' _height='600' style='position:absolute;border:0;width:100%;top:-50%;left:0%' />
				</a>
			</div></div></div></div>
			<div id='708035639944026857-imageContainer4' style='float:left;width:16.62%;margin:0;'>
			<div id='708035639944026857-insideImageContainer4' style='position:relative;margin:0px;'>
			<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
			<div class='galleryInnerImageHolder'>
				<a href='/uploads/2/7/0/2/27022422/4920902_orig.png' rel='lightbox[gallery708035639944026857]' onclick='if (!window.lightboxLoaded) return false'>
					<img src='/uploads/2/7/0/2/27022422/4920902.png' class='galleryImage' _width='400' _height='535' style='position:absolute;border:0;width:100%;top:-39.17%;left:0%' />
				</a>
			</div></div></div></div>
			<div id='708035639944026857-imageContainer5' style='float:left;width:16.62%;margin:0;'>
			<div id='708035639944026857-insideImageContainer5' style='position:relative;margin:0px;'>
			<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
			<div class='galleryInnerImageHolder'>
				<a href='/uploads/2/7/0/2/27022422/9320063_orig.png' rel='lightbox[gallery708035639944026857]' onclick='if (!window.lightboxLoaded) return false'>
					<img src='/uploads/2/7/0/2/27022422/9320063.png' class='galleryImage' _width='400' _height='533' style='position:absolute;border:0;width:100%;top:-38.83%;left:0%' />
					</a>
			</div></div></div></div>
			
			<span style='display: block; clear: both; height: 0px; overflow: hidden;'></span>
		</div>

		<div style="height: 0px; overflow: hidden;"></div>
	</div>

	<div style="text-align:center;">
	<div style="height: 10px; overflow: hidden;"></div>
		<a class="wsite-button wsite-button-large wsite-button-normal" href="bella_flora_details.html" >
			<span class="wsite-button-inner">Vendor Details &amp; Reviews</span>
		</a>
		
		<div style="height: 10px; overflow: hidden;"></div>
	</div>
</div>

<!-- This is the modal -->
<div id="bellaflora-msg" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <a class="uk-modal-close uk-close"></a>
        <h2>Let's Get This Conversation Started!</h2>
		
		<p>Do you have a preferred date & time to schedule a visit with <b><i>Bella Flora</i></b>?</p>
		
		<form class="uk-form">
		
		<div class="uk-form-row">				        	
		     
		      <div class="uk-form-controls">
		          Date:  <div class="uk-form-icon">
 						<i class="uk-icon-calendar"></i>
 							<input id="date-0" type="text" placeholder="DD.MM.YYYY" data-uk-datepicker="" class="required date" name="calendar">
 					</div>
		       
				   Time: 
				   
				   <input type="text" data-uk-timepicker="">
				   
				   
				</div>
		</div>
		


		
		<p>Send a message:</p>
		
		<div class="uk-form-controls">
			<textarea cols="55" rows="7" placeholder=""></textarea>
		</div>
		</form>
		
		<br>
		
		<a class="wsite-button wsite-button-normal uk-modal-close" href  >
			<span class="wsite-button-inner">Send!</span>
		</a>
		
		<p><i>... and we'll get back to you by e-mail shortly!</i></p>
		
		<p>Or contact us directly at:</p>
		
		<div style="font-size: 13px;">
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1475 Polk St. Suite 7 
		<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; San Francisco, CA
		<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (415) 441-5390
		<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href ="http://www.bellaflora.com">www.bellaflora.com</a>
		
		</div>
		
    </div>
</div>




</div>

<!-- END YIELD -->

			<div id="content-bottom-padding"></div>
        </div><!-- end container -->
    </div><!-- end main-wrap -->

    
<!-- END YIELD -->

<div style='padding: 20px; width:100%; text-align:center;'>Home | Content | About Us</div>

</body>