html {
    height: 100%;
    width: 100%;
}

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 40px;
    padding: .2em 0 .2em 0;
    line-height: 45px;
    font-family: 'Bebas', sans-serif;
    font-weight: normal;
    color: #3b3b3b;
    text-transform: uppercase;
    word-spacing: 7px;
}

a {
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: 500;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
    color: #ee7777;
}

a:hover {
    color: #e34144;
}

p {
    font-size: 16px;
    line-height: 1.5;
    padding: .5em 0 .5em 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: #626262;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    min-width: 1280px;
}

.galleryImageBorder {
    border: 4px solid #f5f5f5;
}

#logo {
    min-width: 410px;
    padding-left: 35px;
    background: url('../imgs/logo.png') 95px 5px no-repeat;
    background-size: 70px;
}

#logo a {
    color: #fff;
    font-size: 24px;
    font-family: 'Bebas';
    letter-spacing: 0px;
    word-spacing: 0px;
    font-weight: normal;
}

#logo a:hover {
    color: #fff;
}

#subtitle-text {
    font-size: 15px;
    padding-left: 30px;
    font-family: 'Lato', sans-serif;
    color: rgba(255,255,255, 0.8);
    font-style: italic;
    font-weight: 100;
    position: relative;
    top: -3px;
    text-shadow: 1px 1px 10px rgba(0,0,0,.95);
}

.cinzel {
    font-family: "Cinzel Decorative";
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    position: relative;
    top: 5px;
    text-shadow: 1px 1px 10px rgba(0,0,0,.95);
}

.stalemate {
    font-family: "Stalemate";
    font-style: normal;
    font-size: 47px;
    vertical-align: bottom;
    position: relative;
    top: 5px;
    text-shadow: 1px 1px 10px rgba(0,0,0,.95);
}

.container {
    width: 100%;
    margin: 0 auto;
}

.wsite-background {
    background: #fff url('../imgs/banner.jpg') center center no-repeat;
    background-size: cover;
}

.short-header-page .wsite-background {
    height:200px;
}

.landing-page .wsite-background {
    height:65%;
}

#home-page-enter-border {
    margin: 0 auto;
    border-top: 3px solid rgba(255,255,255, .6);
    border-bottom: 3px solid rgba(255,255,255, .66);
    min-width: 360px;
}

#home-page-enter {
    padding: 40px 40px 40px 40px;
    background: rgb(0, 0, 0);
    background: rgba(0,0,0,0.5);
    margin: 0px auto;
}

.colorblocklight {
    padding-top: 56px;
    padding-bottom: 0px;
    background: #ffffff;
    height: 100%;
    min-height: 100px;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
}

#content-bottom-padding {
    min-height: 56px;
}

.short-header-page #home-page-enter-border {
    display: none;
}

.wsite-button {
    display: inline-block;
    padding: 0;
    background: #ee7777;
    border-radius: 18px;
}

.wsite-button:hover {
    background: #e34144;
}

.wsite-button-inner {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
}

.table {
	display: table;
	height: 100%;
	width: 100%;
}

#nav-wrap, #main-wrap, #footer-wrap {
    width: 100%;	
    min-width: 1280px;												
}

#main-wrap, #footer-wrap{
	display: table-row;
}

#main-wrap{
	height: 100%;
}

#footer-wrap{

    background: #222121;
    font-size: 13px;
    color: #fff;
    text-align: center;
}

.footer-padding{
	min-height: 20px;
}

.short-header-page #banner {
    height: 200px;
    text-align: center;
    position: relative;
    top: 72px;  
}

.short-header-page .banner-wrap {
    position: relative;
    display: table;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 51px;
    padding-bottom: 55px;
}

#header {
    border-spacing: 0;
    width: 100%;
}

#header td {
    vertical-align: middle;
    padding: 0;
    padding-left: 10px;
    padding-right: 0px;
}

#nav-wrap {
    position: fixed;
    top: 0;
    left: 0;
    border-top: 5px solid #ee7777;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.8);
    z-index: 999;
}

#nav-wrap .container ul {
    list-style: none;
    overflow: hidden;
    float: right;
}

#nav-wrap .container ul li {
    list-style: none;
    float: left;
    text-transform: uppercase;
}

#nav-wrap .container ul > li:last-child {
    background: none;
}

#nav-wrap .container ul li a {
    float: left;
    display: block;
    font-family: 'Lato', sans-serif;
    color: #fff;
    padding: 15px 12px;
    border: 0;
    outline: 0;
    list-style-type: none;
    font-size: 13px;
    font-weight: bold;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#nav-wrap .container ul li#active a {
    color: #fff;
    background: #ee7777;
    border: 0;
}

#nav-wrap .container ul li a:hover {
    color: #fff;
    background: #e34144;
    border: 0;
}

