@font-face {
	font-family: 'Bebas';
	src: url('assets/bebasregular.eot');
	src: url('assets/bebasregular.eot?') format('embedded-opentype'),
	     url('assets/bebasregular.ttf') format('truetype');
}

.fancy-font { 
	font-family: "Clicker Script";
	text-transform: none;
	color: #ee7777;
}

/* Weebly lightbox hacks*/

.fancybox-lock {
	overflow: auto !important;
}
.fancybox-lock .fancybox-overlay {
	overflow: hidden !important;
}

/* Weebly gallery CSS */

.colorHolderSel2,
.colorHolderSel{
	position:relative; 
	width:100.2%; 
	padding:0 0 60%;
	overflow:hidden;
}

.galleryImageHolderNoSel,
.galleryImageHolderSel,
.galleryImageHolder{
	position:relative; 
	width:100.2%; 
	padding:0 0 75%;
	overflow:hidden;
}

.eventImageHolderSel{
	position:relative; 
	width:100%; 
	padding:0 0 75%;
	overflow:hidden;
}

.galleryImageHolderTopRoundBorder{
	-webkit-border-radius: 18px;
  	-moz-border-radius: 18px;
  	border-radius: 18px;
  	border: none;
	width: 23%;
	float:left;
	margin: 5px;
	margin-left:10px;
	margin-right:10px;
}

.colorpalette{
	-webkit-border-radius: 18px;
  	-moz-border-radius: 18px;
  	border-radius: 18px;
  	border: none;
	width: 98%;
	height: 98%;
	margin: 5px;
	margin-left:10px;
	margin-right:10px;
}

.galleryImageHolderTop{
	float:left;
	width:23%;
	margin:5px;
	border:5px solid #eee;
	z-index:3;
}

.colorTop{
	float:left;
	width:11%;
	margin:0;
	z-index:3;
}

.galleryImageHolderTopSmall{
	float:left;
	width:18%;
	margin:5px;
	border:5px solid #eee;
	z-index:3;
}
  
.galleryImageHolderSel:before {
    position:absolute;
    float: right;
    right: 5px;
    top: 5px;
    font-size:1.5em;
    font-family: FontAwesome;
    content: "\f111";
    color:#eee;
    opacity:.6;
    z-index:99;
    display:inline-block;
}

.galleryImageHolderSel:after {
    position:absolute;
    float: right;
    right: 5px;
    top: 5px;
    font-size:1.5em;
    font-family: FontAwesome;
    content: "\f111";
    color:#eee;
    z-index:99;
    opacity:0;
    display:inline-block;
}

.colorHolderSel2:before,
.colorHolderSel:before,
.eventImageHolderSel:before,
.eventImageHolderSel:before {
    position:absolute;
    float: right;
    right: 10px;
    top: 10px;
    font-size:1.5em;
    font-family: FontAwesome;
    content: "\f111";
    color:#eee;
    opacity:.6;
    z-index:99;
    display:inline-block;
}

.colorHolderSel2:after,
.colorHolderSel:after,
.eventImageHolderSel:after,
.eventImageHolderSel:after {
    position:absolute;
    float: right;
    right: 10px;
    top: 10px;
    font-size:1.5em;
    font-family: FontAwesome;
    content: "\f111";
    color:#eee;
    z-index:99;
    opacity:0;
    display:inline-block;
}

.colorSelected2:before,
.colorSelected:before,
.imgSelected:before {
    content: "\f058" !important;
    color:#ee7777;
    opacity:1;
}

.colorSelected2:after,
.imgSelected:after,
.colorSelected:after {
    content: "\f111" !important;
    color:#fff;
    opacity:1;
    z-index:90;
}

.eventInfo:after{
	position:absolute;
    float: left;
    top:65%;
    width:100%;
    font-size:2.2em;
    text-align:center;
    font-family: "Clicker Script";
    color:#fff;
    z-index:100;
    padding-top:10px;
    padding-bottom:10px;
    margin: 0 auto;
    display:inline-block;
    background: rgba(0,0,0,0.5);
    text-shadow: 1px 1px 20px rgba(0,0,0,.7)
}

#rehearsalselinner:after{
	content: "Rehearsal Dinner";
}
#ceremonyselinner:after{
	content: "Ceremony";
}
#receptionselinner:after{
	content: "Reception";
}
#brunchselinner:after{
	content: "Next Day Brunch";
}

/* Custom Slick Slider CSS*/

.slick-list,
.slick-slider{
	margin: 0 auto;
	width: 100%;
}

.slick-slide{
	margin: 0 auto;
}