.img-block {
	position: relative; 
	width: 100%;
	min-height:600px;
	max-height:600px;
	padding-top:5px;
	padding-bottom:5px;
	background-size: cover;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	color: #626262;
}

.img-block img {
   width: 100% !important; 
   min-height:600px;
   max-height:600px;
}

.img-block .img-block-cover { 
   position: absolute;
   top: 100px; 
   padding: .5em 20px;
   right: 0px; 
   width: 30%;
   font-size: 1.75em;
   background: #ee7777;
   opacity: .8; 
}

.img-block a {
	text-decoration: none !important;
	text-transform: uppercase;
	font-weight: 500;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
	color: white;
}

.img-block .banner-border {
   	position: absolute;
   	top: 100px; 
	margin: 0 auto;
	/*margin-top: 0;*/
	border-top: 3px solid rgba(255,255,255, .6);
	border-bottom: 3px solid rgba(255,255,255, .66);
	/*//*/border-spacing: 10px;
	/*width: 720px;*/
	width: 100%;
}
}

.img-block .banner-block-cover { 
   position: absolute;
   top: 100px; 
   padding: .5em 20px;
   right: 0px;
   text-shadow: 1px 1px 20px rgba(0,0,0,0) !important;
   text-align: center; 
   width: 30%;
   font-size: 1.75em;
   background: #ee7777;
   opacity: .8; 

}

.img-block .new-banner-button {
	max-width: 200px;
	margin-left:42%;
}
