.img-block {
	position: relative; 
	width: 100%;
	min-height:400px;
	max-height:400px;
	padding-top:5px;
	padding-bottom:5px;
	background-size: cover;
	line-height: 24px;
	color: #626262;
}

.wedding-flower-banner {
	    background: url('http://rosebid-assets.s3.amazonaws.com/images/wedding_flower_banner_short_2.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.block1 {
	    background: url('http://rosebid-assets.s3.amazonaws.com/images/block1.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.block2 {
	    background: url('http://rosebid-assets.s3.amazonaws.com/images/block2.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.block3 {
	    background: url('http://rosebid-assets.s3.amazonaws.com/images/block3.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.img-block img {
   width: 100% !important; 
   min-height:600px;
   max-height:600px;
}

.img-block .img-block-cover { 
   position: absolute;
   top: 10px; 
   padding: .5em 20px;
   right: 0px; 
   width: auto;
   font-size: 1.75em;
   background: #ee7777;
   opacity: .8; 
}

.img-block .img-text-float {
	display:block;
	position: absolute;
	top: 40px; 
	width: 100%;
	padding: .1em 10px;
	font-size: 2.2em;
	text-transform: none;
	letter-spacing: normal;
	text-align: center;
	font-weight: 300;
	color: #fff;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.img-block .img-button-float {
	position: absolute;
	top: 85px; 
	margin-left:0px;
	width: 100%;
	padding: .5em 20px;
	font-size: 1.75em;
}

.img-block button {
	display: inline-block;
	width: auto;
	position: relative;
	font-size: .75em;
	padding: 8px 26px 8px 15px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	width:15%;
	margin-right:0%;
}

.img-block .img-text-float .img-text-button button a {
	display: block;
}

.img-block .img-text-float .img-text-button:hover a {
	display: block;
	background: #EEE;
}

.img-block p {
	text-decoration: none !important;
	text-transform: uppercase;
	font-weight: 500;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	-webkit-transition: all linear 0.2s;
	color: white;
}



.img-block .banner-border {
   	position: absolute;
   	top: 100px; 
	margin: 0 auto;
	/*margin-top: 0;*/
	border-top: 3px solid rgba(255,255,255, .6);
	border-bottom: 3px solid rgba(255,255,255, .66);
	/*//*/border-spacing: 10px;
	/*width: 720px;*/
	width: 100%;
}
}

.img-block .banner-block-cover { 
   position: absolute;
   top: 100px; 
   padding: .5em 20px;
   right: 0px;
   text-shadow: 1px 1px 20px rgba(0,0,0,0) !important;
   text-align: center; 
   width: 30%;
   font-size: 1.75em;
   background: #ee7777;
   opacity: .8; 

}

.img-block .new-banner-button {
	max-width: 200px;
	margin-left:42%;
}
