<% provide(:title, 'Style Profile') %>

<body class='short-header-page'>

<!-- START Navbar-->
	<%= render file: "/layouts/_navbar.html.erb" %>
<!-- END Navbar-->

    <div class="table">  

        <div class="banner-wrap wsite-background">
            <div id="banner">
                <div id="home-page-enter-border">
                    <div id="home-page-enter">  
                    </div>
                </div>
            </div>
        </div>

        <div id="main-wrap">
            <div class="container">
                <div class="colorblocklight">

 <!-- STYLE SUMMARY PAGE -->

                    <h2 class="wsite-content-title" style="text-align:left;">Your Wedding Style</h2>
                    <p style="text-indent:25px; margin:0;">You told us what you like, we listened.</p>
                    
                    <div class="uk-grid uk-vertical-align" data-uk-grid-match>
                        <div class="uk-width-3-5">&nbsp;
                        </div>
                        <div class="uk-width-2-5" style="position:relative;">
                            
                        	 <%= link_to user_flow_pictures_path, :class => "wsite-button-red", :style => "position:absolute;right:0;top:-35px;" do %>
                                <span class="wsite-button-inner">Return to Style Picker</span>
                            <%end%>

                        </div>
                    </div>
                    <hr>
                    <div style="margin-top:20px;"><h2 class="fancy-font" style="text-align:left;">In Pictures:</h2></div>
                    <p style="text-indent:25px;margin-top:10px">Your favorite pictures from our style editor!</p>

                    
                    <div class="slick-content" style="position:relative;">
                        <div class="single-item-slick" style="position:relative;">
                            <div class="slick-slide" >
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic4.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic4thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic1.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic1thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic9.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic9thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic11.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic11thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                
                                <br>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic14.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic14thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic18.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic18thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic37.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic37thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic28.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic28thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                
                            </div>
                            <div class="slick-slide" >
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic30.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic30thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic32.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic32thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic34.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic34thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic37.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic37thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                
                                <br>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic39.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic39thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic40.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic40thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic43.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic43thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic25.jpg' rel='lightbox[gallerystyleresult]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic25thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                
                            </div>
                        </div>
                    </div>
                    
                    

                    <form class="uk-form">
                        <div class="uk-grid">
                            <div class="uk-width-1-3">Do you have a <i class="fa fa-pinterest" style="color:#C92228; font-size:1.5em;"></i> inspiration board?</div>
                            <div class="uk-width-2-3" style="position:relative;left:-100px"><input type="url" name="pinteresturl" placeholder="http://www.pinterest.com/username/boardname" class="uk-width-2-3"></div>
                            
                        </div>
                    </form>

                    <br>

                    <div id="upload-drop-style-summary" class="uk-placeholder uk-text-center uk-placeholder-large" style="position:relative;width:auto">
                            <i class="uk-icon-cloud-upload uk-icon-medium uk-text-muted uk-margin-small-right"></i> 
                            Drag & drop other photos that inspire you here or 
                            <a class="uk-form-file" style="position:relative;top:-2px;text-transform: none;">
                                <b>&nbsp;select some&nbsp;</b><input id="upload-select-style-summary" type="file">
                            </a>
                            to upload.

                            <div id="drag-demo" style="overflow:hidden; margin:0 auto; display: flex; justify-content: center; align-items: center;" class="uk-hidden">
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic43.jpg' rel='lightbox[gallerydragdemo]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic43thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div>
                                <div class='galleryImageHolderTop'><div class='galleryImageHolder'>
                                    <a href='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic25.jpg' rel='lightbox[gallerydragdemo]' onclick='if (!window.lightboxLoaded) return false'>
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylepicker/pic25thumb.jpg' class='galleryImage' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </a></div></div> 
                            </div>

                    </div>

                    <div id="progressbar-style-summary" class="uk-progress uk-hidden uk-progress-striped uk-progress-danger">
                        <div class="uk-progress-bar" style="width: 0%;"></div>
                    </div>

                    

                    <div style="min-height:10px;"></div>
                    <hr>

                    <h2 class="fancy-font" style="text-align:left;">In Words:</h2>

                    <p style="text-indent:25px;margin-top:-10px">How we describe your style. (Feel free to click and select other themes that describe your perfect wedding.)</p>

                    <div class="slick-content" style="position:relative;">
                        <div class="single-item-slick" style="position:relative;">
                            <div class="slick-slide" style="position:relative;left:0%">
                                <div class='galleryImageHolderTopSmall' style="border-color:#ee7777;"><div class='galleryImageHolderSel imgSelected' style="overflow:hidden">
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylesummary/themes/Casual.png' class='galleryImageSel' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </div></div>
                                <div class='galleryImageHolderTopSmall'><div class='galleryImageHolderSel' style="overflow:hidden">
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylesummary/themes/Chic.png' class='galleryImageSel' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </div></div>
                                <div class='galleryImageHolderTopSmall'><div class='galleryImageHolderSel' style="overflow:hidden">
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylesummary/themes/Classic.png' class='galleryImageSel' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </div></div>
                                <div class='galleryImageHolderTopSmall'><div class='galleryImageHolderSel' style="overflow:hidden">
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylesummary/themes/Elegant.png' class='galleryImageSel' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </div></div> 
                                <div class='galleryImageHolderTopSmall' style="border-color:#ee7777;"><div class='galleryImageHolderSel imgSelected' style="overflow:hidden">
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylesummary/themes/simple.png' class='galleryImageSel' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </div></div>
                                <br>
                                <div class='galleryImageHolderTopSmall'><div class='galleryImageHolderSel' style="overflow:hidden">
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylesummary/themes/whimsical.png' class='galleryImageSel' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </div></div>
                                <div class='galleryImageHolderTopSmall'><div class='galleryImageHolderSel' style="overflow:hidden">
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylesummary/themes/understated.png' class='galleryImageSel' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </div></div>
                                <div class='galleryImageHolderTopSmall'  style="border-color:#ee7777;"><div class='galleryImageHolderSel  imgSelected' style="overflow:hidden">
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylesummary/themes/Romantic.png' class='galleryImageSel' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </div></div>
                                <div class='galleryImageHolderTopSmall'><div class='galleryImageHolderSel' style="overflow:hidden">
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylesummary/themes/Laidback.png' class='galleryImageSel' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </div></div>
                                <div class='galleryImageHolderTopSmall'><div class='galleryImageHolderSel' style="overflow:hidden">
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylesummary/themes/Rustic.png' class='galleryImageSel' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </div></div>
                            </div>
                            <div class="slick-slide" style="position:relative;left:0%">
                                <div class='galleryImageHolderTopSmall'><div class='galleryImageHolderSel' style="overflow:hidden">
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylesummary/themes/handmade.png' class='galleryImageSel' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </div></div>
                                <div class='galleryImageHolderTopSmall'><div class='galleryImageHolderSel' style="overflow:hidden">
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylesummary/themes/Royal.png' class='galleryImageSel' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </div></div>
                                <div class='galleryImageHolderTopSmall'><div class='galleryImageHolderSel' style="overflow:hidden">
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylesummary/themes/Traditional.png' class='galleryImageSel' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </div></div>
                                <div class='galleryImageHolderTopSmall'><div class='galleryImageHolderSel' style="overflow:hidden">
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylesummary/themes/Eclectic.png' class='galleryImageSel' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </div></div>
                                <div class='galleryImageHolderTopSmall'><div class='galleryImageHolderSel' style="overflow:hidden">
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylesummary/themes/Dramatic.png' class='galleryImageSel' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </div></div>
                                <br>
                                <div class='galleryImageHolderTopSmall'><div class='galleryImageHolderSel' style="overflow:hidden">
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylesummary/themes/Chic.png' class='galleryImageSel' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </div></div>
                                <div class='galleryImageHolderTopSmall'><div class='galleryImageHolderSel' style="overflow:hidden">
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylesummary/themes/Overthetop.png' class='galleryImageSel' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </div></div>
                                <div class='galleryImageHolderTopSmall'><div class='galleryImageHolderSel' style="overflow:hidden">
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylesummary/themes/restive.png' class='galleryImageSel' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </div></div>
                                <div class='galleryImageHolderTopSmall'><div class='galleryImageHolderSel' style="overflow:hidden">
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylesummary/themes/Streamlined.png' class='galleryImageSel' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </div></div>
                                <div class='galleryImageHolderTopSmall'><div class='galleryImageHolderSel' style="overflow:hidden">
                                    <img src='http://rosebid-assets.s3.amazonaws.com/stylesummary/themes/Formal.png' class='galleryImageSel' style='position:absolute;border:0;width:100%;top:0%;left:0%'>
                                </div></div>
                            </div>
                        </div>
                    </div>
                    
                    <form class="uk-form">
                        <div class="uk-grid">
                            <div class="uk-width-1-3">What other words describe your style? </div>
                            <div class="uk-width-2-3" style="position:relative;left:-100px"><input type="text" name="stylewords" placeholder="" class="uk-width-2-3"></div>
                            
                        </div>
                    </form>

                    <div style="min-height:15px;"></div>
                    <hr>
                    <div style="min-height:10px;"></div>

                    <div class="uk-grid uk-vertical-align" data-uk-grid-match>
                        <div class="uk-width-1-3">
                            <p style="text-align:left;"><!-- Share your wedding style with friends! --></p>
                        </div>
                        <div class="uk-width-1-3" style="position:relative;left:-100px">
                            <div class="fb-share-button" data-href="http://www.rose-bid.com/profile/style-profile.html" data-width="300" data-type="button"></div>   
                        </div>
                        <div class="uk-width-1-3" style="position:relative;">
                             
                        	<%= link_to profile_events_flowers_path, :class => "wsite-button-red", :style => "position:absolute;right:0;margin:0 auto;top:7%;" do %>
                                <span class="wsite-button-inner">Pick Flowers for Your Wedding Events</span>
                            <%end%>

                        </div>
                    </div>
                    <br>
                    <br>

        <!-- END STYLE SUMMARY PAGE -->
                            
	</div>

		<!-- END CONTENT HERE -->