	<div id="nav-wrap">
		<div class="container">
			<table id="header">
				<tr>
					<td id ="logo"><!--{logo}-->
						<%= link_to "RoseBid", root_path, :class => "stalemate", :id => "title-text2" %>
						<!--<img src="/files/theme/title-icon-4.png" id="title-icon">-->
						<span id="subtitle-text">Find the Perfect Flowers for Your Wedding</span>
					</td>
					<!--{menu}-->
					<td>
						<ul class='wsite-menu-default'>
							<li id='pg925725211574932156'><%= link_to "Home", root_path %></li>
							<li id='pg925725211574932156'><%= link_to "Sign Up", user_flow_login_path %></li>
							<li id='pg925725211574932156'><%= link_to "Log In", user_flow_login_path %></li>
						</ul>
					</td>

					<!--<td class="search">{search}</td>-->
				</tr>
			</table>
		</div><!-- end container -->
	</div><!-- end nav-wrap -->
