	<div id="nav-wrap">
		<div class="container">
			<table id="header">
				<tr>
					<td id ="logo">
						<%= link_to "RoseBid", root_path, :class => "stalemate", :id => "title-text2", :style => "z-index:1;padding-bottom:10px;padding-top:-20px;" %>
						<%= image_tag "title-icon-4.png",  :id => "title-icon", :style => "z-index:0;" %>&nbsp;&nbsp;
						<span id="subtitle-text" style="z-index:1;">Find the Perfect Flowers for Your Wedding</span>
					</td>
					<!--{menu}-->
					<td>
						<ul class='wsite-menu-default'>
							<li id='pg925725211574932156'><a href="http://white-reflections.com/rose-bid/V4/style-profile.html" style="font-size:.6em;max-width:200px;">Style Profile</a></li>
							<li id='pg925725211574932156'><a href="http://white-reflections.com/rose-bid/V4/events-flowers.html" style="font-size:.6em;max-width:200px;">Events & Flowers</a></li>
							<li id='pg925725211574932156'><a href="http://white-reflections.com/rose-bid/V4/misc-details.html" style="font-size:.6em;max-width:200px;">Finalize Request</a></li>	
							<li id='pg925725211574932156'><a href="http://white-reflections.com/rose-bid/V4/view-quotes.html" style="font-size:.6em;max-width:200px;">View Quotes</a></li>
							<li id='pg925725211574932156'><a href="http://white-reflections.com/rose-bid/V4/how-it-works.html" style="font-size:.6em;max-width:200px;">How It Works</a></li>
							<li id='pg925725211574932156'><a href="#login" style="font-size:.6em;max-width:200px;">Log In/Save</a></li>
						</ul>
					</td>

					<!--<td class="search">{search}</td>-->
				</tr>
			</table>
		</div><!-- end container -->
	</div><!-- end nav-wrap -->
