<div class="banner-wrap wsite-background wsite-custom-background">
		<div id="banner">
			<!-- Modified <h2>{headline:text global="false"}</h2> 
				 <p>{headline-paragraph:text global="false"}</p>
				 <div class="button-wrap">{loginaction:button global="false"}</div> -->
			<div id="home-page-enter-border">

				<div id="home-page-enter">	
				</div>
			</div>
			
		</div>
</div>